{% extends 'main.html.twig' %}

{% block title %}Мои обращения{% endblock %}

{% block content %}
    {% if (tickets | length) > 0 %}
        <table class="table">
            <colgroup>
                <col width="170" />
                <col>
                <col width="150" />
                <col width="150" />
            </colgroup>
            <thead>
            <tr>
                <th>Номер</th>
                <th>Тема</th>
                <th>Статус</th>
                <th>Обновлено</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.TicketNumber }}</td>
                    <td>
                        <a href="{{ path("support:tickets:view", {'ticketID': ticket.ticketID}) }}">
                            {{ ticket.title | raw }}
                        </a>
                    </td>
                    <td>{{ ticket.state }}</td>
                    <td>
                        {% if ticket.changed %}
                            {{ ticket.changed | date }}
                        {% else %}
                            {{ ticket.created | date }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Открытых обращений в техническую поддержку компании "Аладдин Р.Д." не найдено.<br>
            Чтобы создать новое обращение, нажмите на кнопку "Создать обращение" ниже.
        </p>
    {% endif %}

    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path("support:tickets:create") }}" class="btn btn-outline-primary">Создать обращение</a>
        <div class="d-block">
            {% if (tickets | length) > 0 %}
                <small class="text-muted mr-4">
                    Обновлено {{ cacheDate | date }}
                </small>
                <a href="{{ path('support:tickets', {'refresh': true}) }}" class="btn btn-outline-dark">
                    Обновить
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}