
<p>Использовать токен JaCarta U2F для доступа к Вашему аккаунту очень просто: нужно ввести логин, пароль, подключить токен к компьютеру и нажать на кнопку на корпусе токена. Один токен может использоваться для доступа к нескольким сервисам. </p>
<h2>Начало работы</h2>
<ol><li>В настоящее время использование токенов JaCarta U2F возможно только при работе из Web-браузера Google Chrome. </li>
    <li>Подключите токен к USB-порту Вашего компьютера. При первом подключении будет выполнен поиск и автоматическая установка необходимых драйверов. Это действие будет произведено один раз и при последующих подключениях JaCarta U2F к компьютеру повторяться не будет. </li>
    <li>После подключения и установки драйверов световой индикатор на корпусе токена начнёт гореть непрерывно. </li>
    <li>Токен готов к работе! </li>
    <li>Настройте токен для входа в Ваши существующие аккаунты Google или Dropbox. </li></ol>
<h2>Сервисы Google</h2>
<p>Подключение токена осуществляется к Вашему существующему аккаунту Google. Для подключения необходимо выполнить ряд действий. </p>
<ol><li>Войдите в свой аккаунт Google. </li>
    <li>Перейдите на страницу настроек учётной записи, нажав на кнопку "Мой аккаунт" в верхнем правом углу страницы.

        <br><img width="300" align="center" src="{{ asset('images/catalog/jacarta_u2f/pik1.png') }}" alt="JaCarta U2F"></li>

    <li>Перейдите в раздел "Безопасность и вход".

        <br><img width="300" align="center" src="{{ asset('images/catalog/jacarta_u2f/pik2.png') }}" alt="JaCarta U2F"></li>

    <li>В разделе "Пароль и способ входа в аккаунт" перейдите по ссылке "Двухэтапная аутентификация".

        <br><img width="600" align="center" src="{{ asset('images/catalog/jacarta_u2f/pik3.png') }}" alt="JaCarta U2F"></li>


    <li>Нажмите на кнопку "Приступить к настройке" и следуйте инструкциям. </li>
    <li>В процессе настройки снимите флажок "Надёжный компьютер". В противном случае токен не будет использоваться при входе в аккаунт.

        <br><img width="600" align="center" src="{{ asset('images/catalog/jacarta_u2f/pik4.png') }}" alt="JaCarta U2F"></li>

    <li>Перейдите на закладку "Токены" и нажмите на кнопку "Добавить аппаратный токен".

        <br><img width="600" align="center" src="{{ asset('images/catalog/jacarta_u2f/pik5.png') }}" alt="JaCarta U2F"></li>

    <li>Подключите токен к USB-порту и дождитесь, пока световой индикатор на корпусе токена не начнёт гореть непрерывно. </li>
    <li>Нажмите на кнопку "Зарегистрировать", после чего световой индикатор начнёт мигать.
    <li>Нажмите на кнопку на корпусе токена. </li>
    <li>Регистрация токена завершена! </li>
    <li>При последующем входе в аккаунт необходимо будет использовать зарегистрированный токен: ввести логин, пароль, подключить токен к компьютеру и нажать на кнопку. </li>
    <li>Впоследствии можно отменить "привязку" токена к Вашему аккаунту. </li></ol>
<h2>Сервис Dropbox</h2>
<p>Подключение токена осуществляется к Вашему существующему аккаунту Dropbox. Для подключения необходимо выполнить ряд действий. </p>
<ol><li>Войдите в свой аккаунт Dropbox. </li>
    <li>Перейдите на страницу настроек учётной записи, нажав на ссылку с названием учётной записи в верхнем правом углу страницы, а затем нажмите на ссылку "Настройки".

        <br><img src="{{ asset('images/catalog/jacarta_u2f/pik6.png') }}" alt="JaCarta U2F"></li>

    <li>Перейдите в раздел "Безопасность".</li>
    <li>Нажмите на ссылку "Включить" напротив текста "Состояние" и следуйте инструкциям. </li>
    <li>Нажмите на ссылку "Добавить" напротив текста "Ключи безопасности".

        <br><img width="300" align="center" src="{{ asset('images/catalog/jacarta_u2f/pik7.png') }}" alt="JaCarta U2F"></li>

    <li>Введите пароль к Вашей учётной записи и следуйте инструкциям: необходимо будет подключить токен к USB-порту и нажать на кнопку после получения соответствующего приглашения. </li>
    <li>Регистрация токена завершена! </li>
    <li>При последующем входе в  аккаунт необходимо будет использовать зарегистрированный токен: ввести логин, пароль, подключить токен к компьютеру и нажать на кнопку. </li>
    <li>Впоследствии можно отменить "привязку" токена к Вашему аккаунту. </li></ol>
<h2>Характеристики</h2>
<p>Требования к компьютеру: </p>
<ul><li>Наличие USB-порта. </li></ul>
<p>Поддерживаемые операционные системы: </p>
<ul><li>Microsoft Windows; </li>
    <li>OS X; </li>
    <li>Linux. </li></ul>
<p>Поддерживаемые Web-браузеры: </p>
<ul><li>Google Chrome версии 41 и выше. </li></ul>
<h2>Гарантия</h2>
<p>Гарантийный срок составляет 12 месяцев со дня приобретения. </p>
<p>Посредством электронной формы, размещённой на <a href="/support/">Web-сайте компании</a>, электронного письма на адрес <a href="mailto: support@aladdin-rd.ru">support@aladdin-rd.ru</a> или устного обращения по телефону +7 (495) 223-00-01 Вы получаете: </p>
<ul><li>консультативную помощь по установке, вопросам использования и функциональности продуктов; </li>
    <li>аналитическую помощь в поиске и устранении причин, вызвавших ошибку; </li>
    <li>предложение альтернативных путей для обхода ошибки и получения необходимых результатов. </li></ul>