{% extends 'main.html.twig' %}

{% block title %}Восстановление доступа{% endblock %}

{% block content %}

    <div class="alert alert-warning alert-lg">
        <h3 class="alert-heading">Важная информация!</h3>
        <p>
            На адрес E-Mail, который использовался при регистрации вашей учётной записи, было отправлено письмо с
            инструкцией по смене пароля. В этом письме вы найдете персональный код для смены пароля.
        </p>
        <p>
            Если в течении 5 минут вы не получили письмо, проверьте папку с нежелательной почтой или
            <a href="{{ path('account_reset') }}">повторите попытку</a> сброса пароля.
        </p>
    </div>

    <p>Пожалуйста, заполните все поля формы для смены пароля:</p>

    <div class="mt-5">

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_errors(form) }}

        <div class="form-group row">
            {{ form_label(form.code, 'Контрольная строка', {'label_attr': {'class': 'col-sm-3 col-form-label text-right'}}) }}
            <div class="col-sm-6">
                {{ form_widget(form.code, {'attr': {'placeholder': 'Контрольная строка', 'autofocus': true}}) }}
                {{ form_errors(form.code) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.password.first, 'Новый пароль', {'label_attr': {'class': 'col-sm-3 col-form-label text-right'}}) }}
            <div class="col-sm-3">
                {{ form_widget(form.password.first, {'attr': {'placeholder': 'Введите пароль'}}) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="col-sm-3">
                {{ form_widget(form.password.second, {'attr': {'placeholder': 'Подтвердите пароль'}}) }}
                {{ form_errors(form.password.second) }}
            </div>
            <div class="offset-3 col-sm-6">{{ form_errors(form.password) }}</div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Сменить пароль</button>
            </div>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block sidebar %}
    {{ include('account/sidebar.html.twig') }}
{% endblock %}
