<h2>Как работает Secret Disk Enterprise?</h2>
<p>Концепция <b>Secret Disk Enterprise</b> (SDE) заключается в централизованном хранении и управлении ключами шифрования дисков, информацией о пользователях, их связях с дисками, и т. д. Все операции в SDE основаны на взаимодействии между клиентской и серверной компонентами системы.</p>
<p>Secret Disk Enterprise построен по технологии клиент-сервер. Клиентская часть представлена приложением <b>Secret Disk Agent</b>, выполняемым на рабочих станциях пользователей. Серверная часть состоит из трех основных компонентов:</p>
<ul>
    <li>сервер бизнес-логики;</li>
    <li>шлюз клиентов;</li>
    <li>административный Web-портал.</li>
</ul>
<p align="center"><img src="{{ asset('images/catalog/secret_disk/Secret_Disk_Enterprise_Architecture.png') }}" alt="Защита конфиденциальной информации" title="Secret Disk Enterprise: Aрхитектура" /><br />
    <strong>Архитектура Secret Disk Enterprise</strong></p>

<h3>Сервер бизнес-логики</h3>
<p>Сервер бизнес-логики отвечает за операции с зашифрованными дисками, сертификатами пользователей, а также управление учётными записями пользователей, лицензиями, компьютерами, выполнение функций обслуживания и т.д.</p>
<p>Сервер бизнес-логики формирует для каждой клиентской рабочей станции очередь команд. Он не имеет возможности обратиться к клиентской части напрямую, поэтому всё взаимодействие инициирует Secret Disk Agent через Шлюз клиентов.</p>

<h3>Шлюз клиентов</h3>
<p>Шлюз клиентов выполняет аутентификацию и перенаправляет запросы Secret Disk Agent серверу бизнес-логики, выполняя промежуточную роль в следующих процессах: обмен ключевой информацией, получение клиентским программным обеспечением команд сервера, обмен служебной информацией.</p>
<p>Конфиденциальная информация пользователей хранится на зашифрованных дисках рабочих станций. Для зашифрования/расшифрования информации на диске используется криптокопия ключа этого диска, зашифрованная с использованием мастер-ключа базы данных.</p>
<p>В базе данных хранятся криптокопии мастер-ключа базы данных, поэтому, чтобы получить мастер-ключ для работы с дисками, необходимо расшифровать его криптокопию. Для этого используется утилита "Мастер первоначальной настройки". Сама операция называется "подключением криптохранилища".</p>

<h3>Административный Web-портал</h3>
<p>Веб-портал предоставляет графический интерфейс для работы с функциями аудита и администрирования. Доступность тех или иных функций зависит от принадлежности к той или иной роли.</p>

<div class="row text-center">
    <div class="col-4">
        <a href="{{ asset('images/catalog/secret_disk/Secret_Disk_Enterprise_Admin.jpg') }}" title="Secret Disk Enterprise: Административный Web-портал"><img width="200" src="{{ asset('images/catalog/secret_disk/Secret_Disk_Enterprise_Admin_Preview.jpg') }}" alt="Защита конфиденциальной информации" /></a>
    </div>
    <div class="col-4">
        <a href="{{ asset('images/catalog/secret_disk/Secret_Disk_Enterprise_Logging.jpg') }}" title="Secret Disk Enterprise: Журналирование"><img width="200" src="{{ asset('images/catalog/secret_disk/Secret_Disk_Enterprise_Logging_Preview.jpg') }}" alt="Защита конфиденциальной информации" /></a>
    </div>
    <div class="col-4">
        <a href="{{ asset('images/catalog/secret_disk/Secret_Disk_Enterprise_Roles.jpg') }}" title="Secret Disk Enterprise: Управление ролями"><img width="200" src="{{ asset('images/catalog/secret_disk/Secret_Disk_Enterprise_Roles_Preview.jpg') }}" alt="Защита конфиденциальной информации" /></a>
    </div>
</div>
<p class="small text-center"><em>(нажмите на картинку, чтобы увидеть ее в полном размере)</em></p>

<h3>Secret Disk Agent</h3>
<p>Доступ к SDMS имеют уполномоченные Администратором безопасности Операторы. Функции пользователей выделены в виде приложения Secret Disk Agent, которое устанавливается на каждом клиентском компьютере. В нём пользователь может подключать и отключать диски, а все прочие функции выполняются по запросу сервера через механизм команд, которые формирует сервер для каждого клиента в виде очереди. Назначенные клиенту задачи выполняются по мере опроса клиентом сервера.</p>

<h3>База данных SQL</h3>
<p>Все данные, которыми оперирует система SDMS, хранятся в базе данных на сервере под управлением <span class="nw">Microsoft SQL Server 2005/2008/2012</span>. В базе данных хранятся сведения о файловой системе для каждого клиентского компьютера, операциях пользователя, а также сертификаты и симметричные ключи ко всем зашифрованным дискам. Ключи к зашифрованным дискам клиентов зашифрованы мастер-ключом, который, в свою очередь, защищён ключевой парой сертификата Оператора, хранящегося на USB-ключе или смарт-карте последнего.</p>
<p>SQL-база данных заимствует уже существующие сведения о сотрудниках организации из службы Active Directory (AD): их роли, сертификаты, криптокопии публичных ключей-сертификатов, конфигурации рабочих станций. Доступ к Active Directory осуществляется только в режиме чтения, то есть никто из пользователей SDMS не может менять структуру и данные в AD.</p>