{% extends 'catalog.html.twig' %}

{% block title %}Secret Disk Enterprise (коммерческая версия){% endblock %}

{% block meta_description %}
    Централизованная защита конфиденциальной информации на ПК
{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p class="font-weight-bold">{{ block('meta_description') }}</p>
            <p>Корпоративная система защиты информации с централизованным управлением</p>
            {% set features = [
                "Защита данных сотрудников организации от несанкционированного доступа и утечки",
                "Надёжная двухфакторная аутентификация для доступа к защищаемым данным",
                "Высокопроизводительная масштабируемая архитектура",
                "Централизованное управление и мониторинг",
                "Поддержка отказоустойчивых конфигураций",
                "Низкая стартовая стоимость приобретения",
                "Быстрое внедрение",
                "Поддержка клиентских операционных систем Microsoft Windows версий 7 SP1, 8, 8.1, 10",
            ] %}
            <ul class="list-unstyled list-icons small">
                {% for feature in features %}
                    <li>
                        <ion-icon name="checkmark" class="text-primary"></ion-icon>
                        <span>{{ feature | raw }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/secret_disk/Box_Media_Kit_SDE.png') }}" class="img-fluid" style="max-height: 300px" alt="Secret Disk Enterprise - {{ block('meta_description') }}" />
            <div class="font-weight-normal small my-4">
                Зарегистрировано в реестре российских программ<br>для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/73528/" target="_blank">№ 513</a>)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <div class="action-group">
                <a class="btn btn-primary" href="{{ path("support:downloads:section", {"code": "secret_disk"}) }}">Скачать Secret Disk Enterprise</a>
                <ul class="list-unstyled">
                    <li><a href="{{ path('support') }}">Техническая поддержка</a></li>
                    <li><a href="{{ path('download', {'uuid': '0bffbb80-bac1-4d5c-8f12-1965e5fd5a47'}) }}">Краткая справочная информация</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            {% set tabs = [
                { 'id': 'description', 'title': 'Описание', 'active': true, 'view': 'catalog/secret_disk_enterprise/_description.html.twig' },
                { 'id': 'specialist', 'title': 'Специалисту', 'active': false, 'view': 'catalog/secret_disk_enterprise/_specialist.html.twig' },
                { 'id': 'specification', 'title': 'Спецификация', 'active': false, 'view': 'catalog/secret_disk_enterprise/_specification.html.twig' },
                { 'id': 'kit', 'title': 'Комплект поставки', 'active': false, 'view': 'catalog/secret_disk_enterprise/_kit.html.twig' },
                { 'id': 'support', 'title': 'История изменений', 'active': false, 'view': 'catalog/secret_disk_enterprise/_support.html.twig' },
            ] %}
            {{ include('tabs.html.twig') }}
        </div>
    </div>
{% endblock %}