<h3>Безопасный доступ к системам и сервисам компании</h3>
<div class="d-flex">
    <img src="{{ asset('images/catalog/jc-mobile/Secur_setting-01.png') }}" width="128" height="128" alt="Безопасный доступ к системам и сервисам компании" />
    <div class="ml-4">
        <p>Надёжные технологии безопасного доступа с мобильных устройств помогают снизить риск несанкционированного доступа
            к данным компании, обеспечивая доступ к системам и сервисам компании только разрешённым лицам &mdash; сотрудникам,
            партнёрам и клиентам компании. JC-Mobile обеспечивает применение строгой взаимной двухфакторной аутентификации,
            что подразумевает: </p>
        <ul>
            <li>аутентификацию пользователя, а не мобильного устройства по двум факторам – наличие токена с записанными на него закрытым ключом и сертификатом открытого ключа, а также знание
                уникального PIN-кода;</li>
            <li>при доступе пользователя к системам и сервисам компании выполняется проверка подлинности как пользователя,
                так и самого сервиса, тем самым отсекая возможность перенаправления на мошеннические системы и
                сервисы.</li>
        </ul>

        <p>В случае утери или кражи мобильного устройства злоумышленник не сможет получить доступ к приложению компании. При
            этом сам владелец сможет продолжать пользоваться доступом к системам или сервисам компании с другого мобильного
            устройства. </p>
    </div>
</div>

<h3>Юридическая значимость подписываемых документов и операций</h3>
<div class="d-flex">
    <img src="{{ asset('images/catalog/jc-mobile/Sing_mobile-01.png') }}" width="128" height="128" alt="Юридическая значимость подписываемых документов и операций" />
    <div class="ml-4">
        <p>Юридическая значимость как для бумажного, так и для электронного документа является доказательной силой, например, в арбитражных судах. JC-Mobile позволяет реализовывать в мобильных приложениях функции усиленной квалифицированной электронной подписи.</p>

        <ul>
            <li><b>Электронная подпись как собственноручная.</b> Токен JaCarta в составе JC-Mobile позволяет реализовывать в мобильных приложениях функции усиленной квалифицированной электронной подписи. Согласно российскому законодательству, такая подпись равнозначна
                собственноручной подписи и по умолчанию и без ограничений обеспечивает юридическую значимость подписываемых
                электронных документов и производимых операций.</li>
            <li><b>Безопасное хранение ключа электронной подписи.</b> Благодаря тому, что ключ электронной подписи
                генерируется, хранится и используется исключительно внутри защищённого микроконтроллера токена, он не может быть перехвачен и несанкционированно использован злоумышленниками.
            </li>
        </ul>
    </div>
</div>

<h3>Комфортная работа с любого мобильного устройства </h3>
<div class="d-flex">
    <img src="{{ asset('images/catalog/jc-mobile/Mobile-01.png') }}" width="128" height="128" alt="Комфортная работа с любого мобильного устройства" />
    <p class="ml-4">С JC-Mobile можно работать из любого места, используя любое мобильное устройство под управлением iOS и Android. Для работы на смартфонах и планшетах под управлением ОС Android идеально подойдёт компактный и стильный MicroUSB-токен. Важно отметить, что это первый токен в линейке JaCarta с 80 КБ защищённой памяти и соответствующий новому уровню защиты – Common Criteria EAL 5+. Также на Android-устройствах можно использовать токены JaCarta следующих форм-факторов: смарт-карта и Secure MicroSD-токен. Для работы на устройствах под управлением iOS и Android рекомендуем использовать смарт-карты JaCarta, подключаемые к устройству через смарт-карт ридеры.</p>
</div>

<h3>Соответствие требованиям законодательства и регуляторов</h3>
<div class="d-flex">
    <img src="{{ asset('images/catalog/jc-mobile/Certificate-01.png') }}" width="128" height="128" alt="Соответствие требованиям законодательства и регуляторов" />
    <p class="ml-4">Токены JaCarta имеют сертификаты/положительные заключения, подтверждающие соответствие требованиям регуляторов (ФСТЭК России, ФСБ России) и международным стандартам (Common Criteria EAL4+, Common Criteria EAL5+(MicroUSB-токен), IEC). Токены JaCarta на текущий момент являются единственным решением на российском рынке, имеющим разрешение на ввоз и применение на территории стран-членов ЕС.</p>
</div>

<h3>Secure by Design</h3>
<div class="d-flex">
    <img src="{{ asset('images/catalog/jc-mobile/Chip_secure-01.png') }}" width="128" height="128" alt="Secure by Design" />
    <p class="ml-4">Токен JaCarta выполнен на защищённом смарт-карточном чипе. Чип сконструирован как
        безопасный и для целей обеспечения безопасности. Это говорит о том, что токен JaCarta имеет
        встроенную защиту от клонирования, взлома и других специальных атак, а также соответствует профилю безопасности
        Smart Card Protection Profile.</p>
</div>

<h3>Одна карта – много функций</h3>
<div class="d-flex">
    <img src="{{ asset('images/catalog/jc-mobile/Card_funktion-01.png') }}" width="128" height="128" alt="Одна карта – много функций" />
    <p class="ml-4">Смарт-карту JaCarta в составе JC-Mobile можно использовать в качестве средства безопасного доступа в системы (ДБО,
        ЭДО, Портал гос.услуг, внутрикорпоративные системы) и формирования электронной подписи, а также как электронное
        удостоверение сотрудника, зарплатную или платёжную карту. </p>
</div>

<h3>Широкий ассортимент ридеров для смарт-карт</h3>
<div class="d-flex">
    <img src="{{ asset('images/catalog/jc-mobile/Reader-01.png') }}" width="128" height="128" alt="Широкий ассортимент ридеров для смарт-карт" />
    <div class="ml-4">
        <p>Мы предлагаем различные виды <a href="{{ path('catalog:product', {'product': 'readers'}) }}">ридеров</a> для работы с нашими смарт-картами JaCarta:</p>
        <ul><li>подключаемые напрямую к мобильному устройству (для устройств на базе iOS);
            </li><li>подключаемые через Bluetooth-интерфейс (для устройств на базе iOS и Android), комплекты чехлов для работы с ридерами на любой вкус.</li></ul>
    </div>
</div>