<div class="row">
    <div class="col-6">
        <div class="d-flex align-items-center">
            <img src="{{ asset('icons/File-Download.svg') }}" width="64" height="64" class="icon icon-64 mr-3" alt="Брошюра JC-WebClient" />
            <a href="{{ path('download', {'uuid': '03265837-c247-4f38-9b17-de055bba0168'}) }}">Брошюра "JC-WebClient. Строгая аутентификация и электронная подпись для Web-приложений и облачных сервисов"</a>
        </div>
    </div>
</div>

<hr class="my-4" />

<div class="row">
    <div class="col-6">
        <h4>Мои обращения</h4>
        <p class="small">Перед обращением в техническую поддержку рекомендуем Вам воспользоваться
            <a href="http://kbp.aladdin-rd.ru" target="_blank">Базой знаний</a>. В ней собраны ответы на самые
            актуальные вопросы наших клиентов, среди которых может оказаться ответ и на Ваш вопрос.</p>
        <p class="text-center">
            <a href="{{ path('support:tickets:create') }}" class="btn btn-outline-primary">Создать обращение</a>
            <a href="{{ path('support:tickets') }}" class="btn btn-link">Мои обращения</a>
        </p>
    </div>
    <div class="col-6">
        <h4>Полезные материалы</h4>
        {% set links = [
            { 'url': path('support:page', {'page': 'faq'}), 'title': 'Часто задаваемые вопросы (FAQ)' },
            { 'url': 'https://kbp.aladdin-rd.ru', 'title': 'База знаний' },
            { 'url': path('support:page', {'page': 'sdk'}), 'title': 'Комплекты разработчика' },
            { 'url': path('support:page', {'page': 'guides'}), 'title': 'Интеграционные инструкции' },
            { 'url': path('support:page', {'page': 'discontinue'}), 'title': 'Продукты, снятые с продаж' },
            { 'url': path('support:page', {'page': 'rules'}), 'title': 'Правила оказания услуг' },
        ] %}
        <ul class="list-unstyled list-icons">
            {% for link in links %}
                <li>
                    <ion-icon name="arrow-forward"></ion-icon>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<hr class="my-4" />

<div class="row">
    <div class="col-6">
        <h4>Новости по продукту</h4>
        {% set conditions = {
            "catalog": "news",
            "section": "jcwebclient_178b1f44",
            "type": "E",
            "limit": 3,
            "order": "sort,-activeFrom"
        } %}
        <div data-widget="api"
             data-url="{{ path('widget') }}"
             data-endpoint="/catalogs/elements"
             data-conditions="{{ conditions | json_encode }}"
             data-template="/catalog/_widgets/news.html.twig">
            {% for i in 1..3 %}
                {{ include('catalog/_widgets/news.placeholder.html.twig') }}
            {% endfor %}
        </div>
        <ul class="list-unstyled list-icons">
            <li>
                <ion-icon name="arrow-forward"></ion-icon>
                <a href="{{ path('pressroom:news') }}">Все новости</a>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <h4>Публикации по продукту</h4>
        {% set conditions = {
            "catalog": "articles",
            "section": "jcwebclient_8be6d289",
            "type": "E",
            "limit": 3,
            "order": "sort,-activeFrom"
        } %}
        <div data-widget="api"
             data-url="{{ path('widget') }}"
             data-endpoint="/catalogs/elements"
             data-conditions="{{ conditions | json_encode }}"
             data-template="/catalog/_widgets/articles.html.twig">
            {% for i in 1..3 %}
                {{ include('catalog/_widgets/news.placeholder.html.twig') }}
            {% endfor %}
        </div>
        <ul class="list-unstyled list-icons">
            <li>
                <ion-icon name="arrow-forward"></ion-icon>
                <a href="{{ path('pressroom:articles') }}">Все публикации</a>
            </li>
        </ul>
    </div>
</div>