{% extends 'main.html.twig' %}

{% block title %}Центр загрузки{% endblock %}

{% block content %}

    <h2>USB-токены и смарт-карты JaCarta</h2>
    <div class="section mb-5">
        <h3 class="section__title">Единый Клиент JaCarta и JaCarta SecurLogon</h3>
        <div class="section__description">
            <p>Единый Клиент JaCarta и JaCarta SecurLogon - всё, что Вам нужно для работы с любым токеном JaCarta.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'edinyj-klient-jacarta-i-jacarta-securlogon'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta АРМ УЦ</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta АРМ УЦ.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-arm-uc'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta ГОСТ</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta ГОСТ.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-gost-2'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta ГОСТ/Flash</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta ГОСТ/Flash.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-gostflash'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta PKI</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta PKI.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-pki-2'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta PKI (с обратной совместимостью)</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta PKI (с обратной совместимостью).</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-pki-s-obratnoj-sovmestimostu'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta PKI/BIO</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta PKI/BIO.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-pkibio'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta PKI/Flash</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta PKI/Flash.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-pkiflash'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta PKI/ГОСТ</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta PKI/ГОСТ.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-pkigost'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta PKI/ГОСТ (с обратной совместимостью)</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta PKI/ГОСТ (с обратной совместимостью).</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-pkigost-s-obratnoj-sovmestimostu'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">JaCarta PKI/ГОСТ/Flash</h3>
        <div class="section__description">
            <p>Программное обеспечение для работы ТОЛЬКО с JaCarta PKI/ГОСТ/Flash.</p>
        </div>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'jacarta-pkigostflash'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">Утилиты</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'programmnoe-obespecenie-13'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">Модули поддержки</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'moduli-podderzki-2'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">Документация</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'dokument'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">Дополнительно</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'dopolnitelno'}) }}
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}

{% block back_to_top %}{% endblock %}