{% extends 'main.html.twig' %}

{% block title %}Центр загрузки{% endblock %}

{% block content %}

    <h2>Secret Disk Server NG</h2>
    <div class="section mb-5">
        <h3 class="section__title">Программное обеспечение</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'programmnoe-obespecenie-12'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">Документация</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'dokumentacia-27'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">Информационные материалы</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'informacionnye-materialy-7'}) }}
        </div>
    </div>

    <div class="section mb-5">
        <h3 class="section__title">Утилиты</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'utility-10'}) }}
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}

{% block back_to_top %}{% endblock %}