{% extends 'main.html.twig' %}

{% block title %}Центр загрузки{% endblock %}

{% block content %}

    <h2>{{ element.title }}</h2>

    <div class="description">{{ element.description | raw }}</div>

    <div class="content">{{ element.content | raw }}</div>

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">{{ block('download') }}</div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="mb-4">
        {{ block('download') }}
    </div>
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}

{% block download %}
    {% if storage.isGranted %}
        <a href="{{ path('download', {'uuid': storage.uuid}) }}" class="btn btn-primary text-white btn-block">
            Скачать файл,
            {{ storage.file.size | size }}
        </a>
    {% else %}
        <span class="btn btn-primary text-white btn-block disabled">Файл недоступен</span>
    {% endif %}
{% endblock %}