{
    "certified": {
        "image": "icons/JC-2-07.png",
        "title": "Сертифицировано по новым требованиям ФСБ России",
        "description": "<p>СКЗИ в составе <span class=\"text-nowrap\">{{ title }}</span> сертифицировано по новым требованиям ФСБ России и является функционально законченным и криптографически безопасным.</p>",
        "view": "catalog/jacarta-2/_features/certified.html.twig"
    },
    "embedding": {
        "image": "icons/JC-2-06.png",
        "title": "Предназначено для встраивания",
        "description": "<p>Сертифицированное СКЗИ (средство ЭП) предназначено для легитимного и безопасного встраивания в прикладное, системное и встраиваемое ПО и оборудование.</p>",
        "view": "catalog/jacarta-2/_features/embedding.html.twig"
    },
    "whitelist": {
        "image": "icons/JC-2-05.png",
        "title": "\"Белый\" список безопасных команд и функций",
        "description": "<p>Разрешённые команды и функции, которыми можно безопасно пользоваться из прикладного и системного ПО.</p>",
        "view": "catalog/jacarta-2/_features/whitelist.html.twig"
    },
    "channel": {
        "image": "icons/JC-2-12.png",
        "title": "Обеспечивает построение защищённого канала",
        "description": "<p>В состав сертифицированного СКЗИ входит интерфейсная криптобиблиотека (ИКБ), предназначенная для работы на стороне хоста (персонального компьютера, сервера или терминального оборудования).</p>",
        "view": "catalog/jacarta-2/_features/channel.html.twig"
    },
    "quality": {
        "image": "icons/JC-2-28.png",
        "title": "Надёжность и качество",
        "description": "<p>При проектировании и производстве новых устройств <span class=\"text-nowrap\">{{ title }}</span> инженеры компании учли весь накопленный 20-ти летний опыт и сделали их ещё лучше и надёжнее.</p>",
        "view": "catalog/jacarta-2/_features/quality.html.twig"
    },
    "extension": {
        "image": "icons/JC-2-19.png",
        "title": "Возможность расширения функциональности устройств",
        "description": "<p>Использование технологии Java Card позволяет добавлять необходимую функциональность в устройства <span class=\"text-nowrap\">{{ title }}</span> без необходимости повторной сертификации СКЗИ в ФСБ России.</p>",
        "view": "catalog/jacarta-2/_features/extension.html.twig"
    },
    "trusted": {
        "image": "icons/JC-2-21.png",
        "title": "Работа с доверенными объектами",
        "description": "<p>К доверенным объектам относятся ключи проверки ЭП. С их помощью проверяется подпись документов и сертификатов открытых ключей абонентов, с которыми ведется обмен зашифрованными сообщениями.</p>",
        "view": "catalog/jacarta-2/_features/trusted.html.twig"
    },
    "pin": {
        "image": "icons/JC-2-13.png",
        "title": "Дополнительный PIN-код на операцию формирования ЭП",
        "description": "<p><span class=\"text-nowrap\">{{ title }}</span> позволяет установить два разных PIN-кода: PIN-код пользователя &mdash; для аутентификации пользователя и PIN-код подписи &mdash; для формирования ЭП (опционально).</p>",
        "view": "catalog/jacarta-2/_features/pin.html.twig"
    },
    "puk": {
        "image": "icons/JC-2-16.png",
        "title": "Новые механизмы разблокирования устройств",
        "description": "<p><span class=\"text-nowrap\">{{ title }}</span> предоставляет новые механизмы восстановления работоспособности: самостоятельное (PUK-код) и удалённое разблокирования устройства с помощью Администратора.</p>",
        "view": "catalog/jacarta-2/_features/puk.html.twig"
    },
    "blocking": {
        "image": "icons/JC-2-09.png",
        "title": "Новые механизмы защиты от атак и блокирования",
        "description": "<p>В новом устройстве <span class=\"text-nowrap\">{{ title }}</span> реализованы защита от атак на PIN-код и от блокирования устройства, a PIN-код Администратора заменён ключом администратора безопасности.</p>",
        "view": "catalog/jacarta-2/_features/blocking.html.twig"
    },
    "administration": {
        "image": "icons/JC-2-24.png",
        "title": "Безопасное администрирование",
        "description": "<p>Для инициализации новых устройств, работы с доверенными объектами (ключами проверки ЭП) и безопасного администрирования в процессе их жизненного цикла предназначен новый АРМ администратора безопасности.</p>",
        "view": "catalog/jacarta-2/_features/administration.html.twig"
    },
    "memory": {
        "image": "icons/JC-2-01.png",
        "title": "Больше доступной памяти",
        "description": "<p>В новой линейке <span class=\"text-nowrap\">{{ title }}</span> появилась модель с увеличенным объёмом защищённой памяти &mdash; теперь для безопасного хранения ключей, кодов авторизации, сертификатов и других объектов доступно до 114 КБайт энергонезависимой памяти (EEPROM).</p>"
    },
    "speed": {
        "image": "icons/JC-2-27.png",
        "title": "Быстрее",
        "description": "<p>Скорость подписания объёмных документов в устройстве <span class=\"text-nowrap\">{{ title }}</span> теперь на порядки выше, поскольку вычисление хэш-функции от объёмных документов производится программной библиотекой (ИКБ) на стороне хоста со скоростью работы основного процессора, а не на микроконтроллере устройства.</p><p>Вычисленное значение хэш-функции для формирования ЭП передаётся в устройство по защищённому каналу.</p>",
        "view": "catalog/jacarta-2/_features/speed.html.twig"
    },
    "resource": {
        "image": "icons/1-16.png",
        "title": "Повышенный ресурс и живучесть",
        "description": "<p>Устройства <span class=\"text-nowrap\">{{ title }}</span> проектировались с учётом возможностей применения в различных автоматизированных системах (ЕГАИС), а также АСУ ТП, М2М, IoT и прочие, и имеют повышенный ресурс по количеству циклов записи в EEPROM-память и выполняемых операций ЭП.</p><p>В частности, <b>количество операций формирования ЭП составляет не менее 10 млн</b>.</p>"
    },
    "protection": {
        "image": "icons/JC-2-10.png",
        "title": "Защита от взлома и клонирования",
        "description": "<p><b>Secure By Design</b> — устройства <span class=\"text-nowrap\">{{ title }}</span> сконструированы как безопасные и для целей обеспечения безопасности, выполнены на базе защищённых смарт-карточных чипов  (<b>Secure Element</b>).</p><p>Ключи шифрования не хранятся в памяти устройства &mdash; взламывать его бесполезно.</p>",
        "view": "catalog/jacarta-2/_features/protection.html.twig"
    }
}