{% extends 'catalog.html.twig' %}

{% block title %}JaCarta PKI{% endblock %}

{% block meta_description %}
    Строгая аутентификация и электронная подпись с применением зарубежных криптоалгоритмов
{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p class="font-weight-bold">{{ block('meta_description') }}</p>
            <p>USB-токены и смарт-карты с аппаратной реализацией зарубежных криптоалгоритмов (AES, DES, 3DES, RSA, SHA и др.) для строгой двухфакторной аутентификации пользователей и работы с усиленной квалифицированной электронной подписью (ЭП)</p>
            {% set features = [
                "Работа с усиленной электронной подписью",
                "Строгая двухфакторная аутентификация",
                "Шифрование данных",
                "Безопасное хранение пользовательской информации и объектов",
            ] %}
            <ul class="list-unstyled list-icons small">
                {% for feature in features %}
                    <li>
                        <ion-icon name="checkmark" class="text-primary"></ion-icon>
                        {{ feature | raw }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/jacarta/Group-Card_XL_Nano_Micro.png') }}" class="img-fluid" alt="JaCarta PKI - строгая аутентификация и электронная подпись с применением зарубежных криптоалгоритмов" />
            <div class="font-weight-normal small my-4">
                Зарегистрировано в реестре российских программ<br>для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/125863/" target="_blank">№ 4300</a> и <a href="https://reestr.minsvyaz.ru/reestr/125864/" target="_blank">4301</a>)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('download', {'uuid': 'a27fa7d8-2b67-4cbe-9912-ff3e81522e9b'}) }}" class="btn btn-dark mr-4">Скачать брошюру</a>
        </div>
        <div class="col-6">
            <div class="action-group">
                <a class="btn btn-primary" href="{{ path("partners:search", {"type": "business"}) }}">Где купить</a>
                <ul class="list-unstyled">
                    <li><a href="{{ path('support') }}">Техническая поддержка</a></li>
                    <li><a href="{{ path('support:downloads:section', {'code': 'jacarta'}) }}">Скачать ПК "Единый Клиент JaCarta"</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scroll_spy_nav %}
    <nav class="nav nav-pills">
        <a class="p-3 nav-item nav-link scrollable" href="#purpose">Назначение</a>
    </nav>
{% endblock %}

{% block content %}

    <div class="bg-white section">
        <div class="container" id="purpose">
            {{ include('catalog/jacarta_pki/_purpose.html.twig') }}
        </div>
    </div>

    <div class="bg-light section">
        <div class="container" id="use">
            {{ include('catalog/jacarta_pki/_use.html.twig') }}
        </div>
    </div>

    <div class="bg-light section">
        <div class="container" id="models">
            {{ include('catalog/jacarta_pki/_models.html.twig') }}
        </div>
    </div>

    <div class="bg-white section">
        <div class="container" id="features">
            {% set title = 'JaCarta PKI' %}
            {% set features = include('catalog/jacarta/_shared/_features.json.twig') | json_decode %}
            {% set features = features | merge({"certified": {
                "image": "icons/JC-2-07.png",
                "title": "Сертифицировано ФСТЭК России",
                "description": "<p>Все устройства {{ title }} сертифицированы ФСТЭК России (сертификат № 3449). Это позволяет применять их в АС до класса защищённости 1Г, в ГИС до 1 класса защищённости и в ИСПДн до 1 уровня защищённости включительно.</p>",
                "view": "catalog/jacarta_pki/features/certified.html.twig"
            }}) %}
            {{ include('catalog/jacarta/_shared/_features.html.twig', {
                'code': 'jacarta_pki',
                'title': title
            }) }}
        </div>
    </div>

    <div class="bg-white section">
        <div class="container" id="package">
            {{ include('catalog/jacarta_pki/_package.html.twig') }}
        </div>
    </div>

    <div class="bg-light section">
        <div class="container" id="solutions">
            {{ include('catalog/jacarta/_shared/_solutions.html.twig') }}
        </div>
    </div>

    <div class="bg-white section">
        <div class="container" id="details">
            {{ include('catalog/jacarta_pki/_details.html.twig') }}
        </div>
    </div>

    <div class="bg-light section">
        <div class="container" id="try">
            {{ include('catalog/jacarta_pki/_try.html.twig') }}
        </div>
    </div>

    <div class="bg-white section">
        <div class="container" id="buy">
            {{ include('catalog/jacarta_pki/_buy.html.twig') }}
        </div>
    </div>

{% endblock %}