{% extends 'main.html.twig' %}

{% block title %}Продукты, снятые с продаж{% endblock %}

{% block content %}

    <p>В таблице ниже представлены продукты компании "Аладдин Р.Д.", снятые с продаж и/или технической
        поддержки, а также информация о возможных миграциях на другие продукты или их версии.</p>
    <br>
    <table class="table">
        <colgroup>
            <col width="300">
            <col width="150" span="2">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>Продукт</th>
            <th>Снято с продаж</th>
            <th>Снято с поддержки</th>
            <th>Дополнительная информация</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Линейка продукции HASP</th>
            <td>2012 год</td>
            <td>2012 год</td>
            <td>За приобретением и поддержкой продукта, пожалуйста, обращайтесь напрямую в компанию SafeNet</td>
        </tr>
        <tr>
            <th>Смарт-карта eToken PRO/SC/32K</th>
            <td>01.03.2011</td>
            <td>29.02.2012 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>Смарт-карта eToken PRO (Java)/SC/72K</p>
                <p>По вопросу перехода обратитесь к менеджеру отдела продаж компании "Аладдин Р.Д.", отвечающему за работу с вашей компанией.</p>
                <p>Подробнее см. <a href="{{ path('download', {'uuid': 'c4c91241-afc7-4855-8f12-95a31c6d95c3'}) }}" target="_blank">здесь</a>.</p>
            </td>
        </tr>
        <tr>
            <th>Смарт-карта eToken PRO/SC/64K</th>
            <td>16.02.2011</td>
            <td>15.02.2012 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>Смарт-карта eToken PRO (Java)/SC/72K</p>
                <p>По вопросу перехода обратитесь к менеджеру отдела продаж компании "Аладдин Р.Д.", отвечающему за работу с вашей компанией.</p>
                <p>Подробнее см. <a href="{{ path('download', {'uuid': 'c4c91241-afc7-4855-8f12-95a31c6d95c3'}) }}" target="_blank">здесь</a>.</p>
            </td>
        </tr>
        <tr>
            <th>eToken Web Sign-On</th>
            <td>2010 год</td>
            <td>01.02.2012</td>
            <td>Продукт перемёщен в архив</td>
        </tr>
        <tr>
            <th>eToken Single Sign-On</th>
            <td>&mdash;</td>
            <td>01.02.2012</td>
            <td>Продукт перемёщен в архив</td>
        </tr>
        <tr>
            <th>Сертифицированный программно-аппаратный комплекс защиты конфиденциальной информации <span class="text-nowrap">Secret Disk NG 3.1</span></th>
            <td>01.10.2010</td>
            <td>01.10.2011 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>Secret Disk 4<br>(сертификат соответствия ФСТЭК России №1742/1)</p>
                <p>Существует система льготного перехода. Необходимо приобрести лицензию на обновление сертифицированной версии <span class="text-nowrap">Secret Disk NG/PE 3.1</span> до <span class="text-nowrap">Secret Disk 4</span>.</p>
            </td>
        </tr>
        <tr>
            <th>USB-ключ eToken PRO/32K</th>
            <td>01.10.2010</td>
            <td>01.10.2011 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>USB-ключ eToken PRO (Java)/72K</p>
                <p>По вопросу перехода обратитесь к менеджеру отдела продаж компании "Аладдин Р.Д.", отвечающему за работу с вашей компанией.</p>
                <p>Подробнее см. <a href="{{ path('download', {'uuid': 'c4c91241-afc7-4855-8f12-95a31c6d95c3'}) }}" target="_blank">здесь</a>.</p>
            </td>
        </tr>
        <tr>
            <th>USB-ключ eToken PRO/64K</th>
            <td>01.07.2010</td>
            <td>01.07.2011 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>USB-ключ eToken PRO (Java)/72K</p>
                <p>По вопросу перехода обратитесь к менеджеру отдела продаж компании "Аладдин Р.Д.", отвечающему за работу с вашей компанией.</p>
                <p>Подробнее см. <a href="{{ path('download', {'uuid': 'c4c91241-afc7-4855-8f12-95a31c6d95c3'}) }}" target="_blank">здесь</a>.</p>
            </td>
        </tr>
        <tr>
            <th>eToken Simple Sign-On 2.0</th>
            <td>&mdash;</td>
            <td>31.03.2009</td>
            <td>Продукт перемещён в архив</td>
        </tr>
        <tr>
            <th>eToken TMS 1.5</th>
            <td>17.03.2008</td>
            <td><sup>**</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>eToken TMS 2.0 / SafeNet Authentication Manager 8.0</p>
                <p>Переход осуществляется автоматически с помощью встроенного мастера миграции. По вопросу получения новой версии обратитесь к менеджеру отдела продаж "Аладдин Р.Д.", отвечающему за работу с вашей компанией.</p>
            </td>
        </tr>
        <tr>
            <th>USB-ключ eToken PRO/16K</th>
            <td>01.07.2007</td>
            <td>30.06.2008 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>USB-ключ eToken PRO (Java)/72K</p>
                <p>По вопросу перехода обратитесь к менеджеру отдела продаж компании "Аладдин Р.Д.", отвечающему за работу с вашей компанией.</p>
                <p>Подробнее см. <a href="{{ path('download', {'uuid': 'c4c91241-afc7-4855-8f12-95a31c6d95c3'}) }}" target="_blank">здесь</a>.</p>
            </td>
        </tr>
        <tr>
            <th>Secret Disk NG 3.x</th>
            <td>20.06.2007</td>
            <td>20.06.2008 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>Secret Disk 4</p>
                <p>Существует система льготного перехода. Необходимо приобрести лицензию на обновление Secret Disk NG/PE до Secret Disk 4.</p>
                <p>Только для владельцев USB-ключей eToken PRO/32K/64K, eToken NG-OTP, eToken NG-FLASH или смарт-карт eToken PRO с записанной на них лицензией на использование Secret Disk NG. По вопросу получения новой версии обратитесь к менеджеру отдела продаж компании "Аладдин Р.Д.".</p>
            </td>
        </tr>
        <tr>
            <th>eToken SecurLogon для Windows XP</th>
            <td>01.05.2006</td>
            <td>30.11.2007 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>eToken Network Logon</p>
                <p>Для перехода на eToken Network Logon требуется приобретение лицензии на использование нового продукта.</p>
            </td>
        </tr>
        <tr>
            <th>eToken Windows Logon, версия 2.5</th>
            <td>01.05.2006</td>
            <td>30.04.2007 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>eToken Network Logon</p>
                <p>Для перехода на eToken Network Logon требуется приобретение лицензии на использование нового продукта.</p>
            </td>
        </tr>
        <tr>
            <th>USB-ключ eToken R2</th>
            <td>01.02.2005</td>
            <td>01.02.2006 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>USB-ключ eToken PRO (Java)/72K</p>
                <p>По вопросу перехода обратитесь к менеджеру отдела продаж компании "Аладдин Р.Д.", отвечающему за работу с вашей компанией.</p>
                <p>Подробнее см. <a href="{{ path('download', {'uuid': 'c4c91241-afc7-4855-8f12-95a31c6d95c3'}) }}" target="_blank">здесь</a>.</p>
            </td>
        </tr>
        <tr>
            <th>Система защиты информации "Secret Disk" версии 2.0</th>
            <td>01.04.2005</td>
            <td>15.06.2006 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>Secret Disk 4<br>
                    (сертификат соответствия ФСТЭК России №1742/1)</p>
                <p>Существует система льготного перехода. Необходимо приобрести лицензию на обновление сертифицированной версии Secret Disk NG/PE 3.1 до Secret Disk 4.</p>
            </td>
        </tr>
        <tr>
            <th>Secret Disk Server, все версии 1.х</th>
            <td>31.12.2004</td>
            <td>31.12.2005 <sup>*</sup></td>
            <td>
                <p><b>Заменяющий продукт: </b>Secret Disk Server NG 3.х</p>
                <p>Для пользователей Secret Disk Server версии 1.х. разработана специальная программа Upgrade, позволяющая на льготных условиях перейти на использование Secret Disk Server NG 3.х.</p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}

{% block javascripts %}

{% endblock %}