{% extends 'main.html.twig' %}

{% block title %}Интеграционные инструкции{% endblock %}

{% block content %}
    <h3>Adobe</h3>
    <a href="{{ asset('/files/guides/AdobeReader_JaCarta.pdf') }}">JaCarta в Adobe Acrobat Reader</a>

    <h3>Dell</h3>
    <a href="{{ asset('/files/guides/Configuring_ThinOs_under_Citrix.pdf') }}">JaCarta в ThinOS для  аутентификации в Citrix XenApp\XenDesktop</a><br>
    <a href="{{ asset('/files/guides/Configuring_ThinOs_under_VmWare.pdf') }}">JaCarta в ThinOS для аутентификации в VmWare Horizon</a><br>
    <a href="{{ asset('/files/guides/DellThinOs_JaCarta.pdf') }}">JaCarta в ThinOS на тонких клиентах Dell\Wyse</a>

    <h3>Duo.com</h3>
    <a href="{{ asset('/files/guides/DUO.com.pdf') }}">Интеграция электронных ключей JaCarta WebPass и JaCarta U2F в платформу Duo Security</a>

    <h3>Check Point</h3>
    <a href="{{ asset('/files/guides/CheckPointSecurityGateway_JaCarta.pdf') }}">JaCarta и Cheсk Point Security Gateway. Руководство по настройке</a>

    <h3>Cisco</h3>
    <a href="{{ asset('/files/guides/Authentication_Wireless_access_to_the_network_using_OTP.pdf') }}">JAS для аутентификации по OTP в WIFI-сетях. Руководство по настройке</a>

    <h3>Citrix</h3>
    <a href="{{ asset('/files/guides/Setting_up_authentication_with_smart_card_JaCarta_in_XenDesktop_7.x_quick_guide.pdf') }}">JaCarta для аутентификации в XenDesktop/XenApp 7.x. Руководство по настройке</a>

    <h3>HP</h3>
    <a href="{{ asset('/files/guides/JaCarta_ThinPro4.pdf') }}">JaCarta в ThinPro 4</a>

    <h3>IBM</h3>
    <a href="{{ asset('/files/guides/IBM_Lotus_Notes_JaCarta.pdf') }}">JaCarta PKI и IBM Lotus Notes. Руководство по настройке</a>

    <h3>Microsoft</h3>

    <a href="{{ asset('/files/guides/JaCarta_PKI_BitLocker.pdf') }}">JaCarta PKI и шифрование BitLocker в Microsoft Windows</a> <br>
    <a href="{{ asset('/files/guides/JaCarta_PKI_Windows_Server_2016_domain_auth.pdf') }}">JaCarta PKI для аутентификации в домене Windows Server 2016</a> <br>
    <a href="{{ asset('/files/guides/JaCarta_PKI_Windows_Server_2016_Implementation_Guide.pdf') }}">JaCarta PKI для Windows Server 2016. Руководство по внедрению</a> <br>
    <a href="{{ asset('/files/guides/JaCartaPKI-EFS.pdf') }}">JaCarta PKI и EFS-шифрование в Microsoft Windows</a> <br>
    <a href="{{ asset('/files/guides/JaCartaPKI-Outlook2016.pdf') }}">JaCarta PKI и Microsoft Outlook 2016. Шифрование и подпись электронных писем</a> <br>
    <a href="{{ asset('/files/guides/JaCarta_RemoteDesktopServices.pdf') }}">JaCarta и Remote Desktop Services</a> <br>
    <a href="{{ asset('/files/guides/MicrosoftOffice_JaCartaPKI.pdf') }}">JaCarta и Microsoft Office 2016. ЭП документов</a> <br>
    <a href="{{ asset('/files/guides/AzureAD_JaCarta.pdf') }}">JaCarta и Microsoft Azure AD. Руководство по настройке</a> <br>
    <a href="{{ asset('/files/guides/JaCarta_for_Microsoft_Windows_Implementation_guide_v2.0.pdf') }}">JaCarta в Windows. Руководство по внедрению</a> <br>
    <a href="{{ asset('/files/guides/AzureBackup_CryptoPROEFS_JaCarta.pdf') }}">Microsoft Azure Backup для хранения зашифрованной при помощи КриптоПро EFS информации и доступ к ней по JaCarta</a> <br>
    <a href="{{ asset('/files/guides/https_web_access_JaCartaPKI.pdf') }}">Доступ к Web-ресурсам с использованием JaCarta PKI по протоколу HTTPS</a> <br>
    <a href="{{ asset('/files/guides/JaCartaPKI_MicrosoftVPN.pdf') }}">JaCarta PKI и VPN-тоннели в Microsoft Windows Server 2016</a><br>
    <a href="{{ asset('/files/guides/JaCartaPKI_MicrosoftRDP.pdf') }}">JaCarta PKI для аутентификации в RDP-сессии</a>

    <h3>Open Source</h3>
    <a href="{{ asset('/files/guides/Authentication_using_SSH_JaCarta_PKI.pdf') }}">JaCarta и Putty. Аутентификация в SSH сессии</a><br>
    <a href="{{ asset('/files/guides/Two-factor_authentication_in_OpenVPN_for_Windows.pdf') }}">JaCarta и OpenVPN для Windows</a><br>
    <a href="{{ asset('/files/guides/JaCarta_Linux.pdf') }}">JaCarta для семейства ОС Linux</a><br>
    <a href="{{ asset('/files/guides/Jas_Linux.pdf') }}">JAS и JaCarta WebPass для OTP-аутентификации в Linux SSH</a>

    <h3>VMware</h3>
    <a href="{{ asset('/files/guides/Authentication_in_VmWare_Horizon_using_OTP_passwords.pdf') }}">JAS для аутентификации по OTP в VmWare Horizon. Руководство по настройке</a><br>
    <a href="{{ asset('/files/guides/Authentication_in_VmWare_Horizon_using_JaCarta_PKI_OS_Astra_Linux.pdf') }}">JaCarta в Astra Linux для аутентификации в VmWare Horizon</a><br>
    <a href="{{ asset('/files/guides/JaCarta_Teradici.pdf') }}">JaCarta PRO и платформа Teradici. Аутентификация в сессию VMware Horizon по аппаратному PCoIP</a><br>
    <a href="{{ asset('/files/guides/VMWare_Horizon_7_PKI_16_06_2017.pdf') }}">JaCarta PKI и VMware Horizon View 7. Руководство по настройке</a><br>
    <a href="{{ asset('/files/guides/VMware5.x_JaCarta.pdf') }}">JaCarta PKI и VMware View 5.x, сертифицированный по ФСТЭК России. Руководство по настройке</a>

    <h3>РусБИТех</h3>
    <a href="{{ asset('/files/guides/Authentication_in_VmWare_Horizon_using_JaCarta_PKI_OS_Astra_Linux.pdf') }}">JaCarta в Astra Linux для аутентификации в VmWare Horizon</a><br>
    <a href="{{ asset('/files/guides/Configuring_two-factor_authentication_in_the_domain_Astra_Linux.pdf') }}">JaCarta для аутентификации в домене Astra Linux. Руководство по настройке</a>

    <h3>Конфидент</h3>
    <a href="{{ asset('/files/guides/JaCarta_DallasLock8.pdf') }}">JaCarta для аутентификации в DallasLock 8</a>

    <h3>Тонк</h3>
    <a href="{{ asset('/files/guides/JaCarta_TONK_WindowsEmb.pdf') }}">JaCarta в тонких клиентах ТОНК на основе Windows. Руководство по настройке</a>

    <h3>Прочее</h3>
    <a href="{{ asset('/files/guides/Dropbox_U2F_User_Guide.pdf') }}">Dropbox U2F. Руководство по применению</a><br>
    <a href="{{ asset('/files/guides/Google_U2F_User_Guide.pdf') }}">Google U2F. Руководство по применению</a>
{% endblock %}

{% block sidebar %}
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}