<h3>Аутентификация</h3>
<div class="row">
    <div class="col-9">
        <p>Компания "Аладдин Р.Д." предлагает ряд курсов по аутентификации, развертыванию PKI, установке,
            эксплуатации и настройке систем
            <a href="{{ path("catalog:product", {"product": "jms"}) }}">JaCarta Management System</a> и
            SafeNet Authentication Manager 8.0.
        </p>
        <p>В рамках курсов рассматриваются цели, задачи и способы аутентификации, технологии строгой
            аутентификации (одноразовые пароли, использование асимметричной криптографии), примеры реализации
            систем аутентификации в локальных вычислительных сетях (ЛВС).</p>
    </div>
    <div class="col-3">
        <a href="http://itsecurity.ru/catalog/vendor-aladdin-r-d/" target="_blank">
            <img src="{{ asset('images/training/infosec-logo.png') }}" class="img-fluid" alt="Информзащита" />
        </a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Курс</th>
        <th>Учебный&nbsp;центр</th>
        <th>Номер&nbsp;курса</th>
        <th>Длительность</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Построение и эксплуатация инфраструктуры аутентификации на основе продуктов: электронные ключи
            JaCarta и система управления JaCarta Management System</td>
        <td><a href="http://itsecurity.ru/catalog/vendor-aladdin-r-d/" target="_blank">Информзащита</a></td>
        <td><a href="http://itsecurity.ru/catalog/al_jms2015/" target="_blank">AL-JMS2015</a></td>
        <td>5 дней</td>
    </tr>
    <tr>
        <td>Эксплуатация инфраструктуры аутентификации на основе продуктов: электронные ключи JaCarta и система
            управления JaCarta Management System</td>
        <td><a href="http://itsecurity.ru/catalog/vendor-aladdin-r-d/" target="_blank">Информзащита</a></td>
        <td><a href="http://itsecurity.ru/catalog/al_jms15/" target="_blank">AL-JMS15</a></td>
        <td>3 дня</td>
    </tr>
    <tr>
        <td>Построение и настройка инфраструктуры аутентификации на основе продуктов: электронные ключи JaCarta
            и система управления JaCarta Management System</td>
        <td><a href="http://itsecurity.ru/catalog/vendor-aladdin-r-d/" target="_blank">Информзащита</a></td>
        <td><a href="http://itsecurity.ru/catalog/al_jms20/" target="_blank">AL-JMS20</a></td>
        <td>2 дня</td>
    </tr>
    </tbody>
</table>

<h3>Защита персональных данных</h3>
<div class="row">
    <div class="col-9">
        <p>Специализированный курс, разработанный специалистами
            <b>Академии АйТи</b>, включает в себя как изучение правовых и нормативно-методических документов по
            обеспечению безопасности персональных данных, так и основы работы с техническими и программными
            средствами выявления угроз безопасности информации и средствами защиты от этих угроз на примере
            продуктов "Аладдин Р.Д.".
        </p>
        <p>Содержание курса согласовано со ФСТЭК России, что позволяет рекомендовать его специалистам,
            организующим и осуществляющим обработку персональных данных в государственных и коммерческих
            структурах, руководителям и сотрудникам служб ИТ и ИБ, профессионалам в области защиты информации.
        </p>
        <p>Курс проводится в различных городах России
            (<a href="mailto:e.tsareva@aladdin-rd.ru" target="_blank">отправить заявку</a>).
        </p>
    </div>
    <div class="col-3">
        <img src="{{ asset('images/training/academy-it-logo.gif') }}" class="img-fluid" alt="Академия АйТи" />
    </div>
</div>

<h3>Шифрование данных</h3>
<div class="row">
    <div class="col-9">
        <p>Уже более 10 лет компания "Аладдин Р.Д." выпускает высокотехнологичные продукты,
            объединенные в линейку
            <a href="{{ path("catalog:product", {'product': 'secret_disk'}) }}">Secret Disk</a>.
            Персональная и серверная редакции продукта
            сертифицированы ФСТЭК России и
            являются оптимальным решением для защиты критически важных данных, хранящихся на стационарных
            компьютерах или ноутбуках руководителей организаций, финансовых директоров, бухгалтеров и других
            пользователей, работающих с персональными данными, а также информацией, относящейся к категории
            коммерческой тайны.
        </p>
    </div>
    <div class="col-3">
        <a href="http://itsecurity.ru/catalog/vendor-aladdin-r-d/" target="_blank">
            <img src="{{ asset('images/training/infosec-logo.png') }}" class="img-fluid" alt="Информзащита" />
        </a>
    </div>
</div>

<br>

<table class="table">
    <thead>
    <tr>
        <th>Курс</th>
        <th>Учебный&nbsp;центр</th>
        <th>Номер&nbsp;курса</th>
        <th>Длительность</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Построение корпоративной системы защиты конфиденциальной информации на основе линейки продуктов
            Secret Disk компании "Аладдин Р.Д."</td>
        <td><a href="http://itsecurity.ru/catalog/vendor-aladdin-r-d/" target="_blank">Информзащита</a></td>
        <td><a href="http://www.itsecurity.ru/catalog/al_sd14/" target="_blank">AL-SD14</a></td>
        <td>2 дня</td>
    </tr>
    </tbody>
</table>