<h2>Дополнительно</h2>
{% set tabs = [
    { 'id': 'details-1', 'title': 'Поддерживаемые<br>операционные системы', 'active': true, 'url': path('catalog:product:page', {'product': 'jacarta-2_gost', 'page': 'os'}), 'view': 'catalog/jacarta-2_gost/os.html.twig' },
    { 'id': 'details-2', 'title': '"Белый" список<br>команд и функций', 'active': false, 'url': path('catalog:product:page', {'product': 'jacarta-2_gost', 'page': 'whitelist'}) },
    { 'id': 'details-3', 'title': 'Эксплуатационные<br>характеристики', 'active': false, 'url': path('catalog:product:page', {'product': 'jacarta-2_gost', 'page': 'specification'}) },
    { 'id': 'details-4', 'title': 'Сертификаты<br>ФСБ России', 'active': false, 'url': path('catalog:product:page', {'product': 'jacarta-2_gost', 'page': 'certificates'}) },
] %}
{{ include('tabs.html.twig') }}

<hr>

<h3 class="text-center">Состав сертифицированного СКЗИ</h3>
<div class="row">
    <div class="col-8">
        <h4>Апплет "Криптотокен 2 ЭП"</h4>
        <ul>
            <li>Работает на защищённых смарт-карточных микроконтроллерах. Реализован в различных форм-факторах: USB-токены, смарт-карты, модули смарт-карт, микросхемы для монтажа на печатную плату (разные исполнения).</li>
            <li>Реализует набор криптографических алгоритмов и протоколов.</li>
        </ul>

        <h4>Интерфейсная криптобиблиотека (ИКБ)</h4>
        <ul>
            <li>Предназначена для работы на стороне хоста (ПК, сервер, терминал). Сертифицирована под Microsoft Windows, GNU/Linux, Apple macOS.</li>
            <li>Реализует набор криптографических алгоритмов и протоколов, выработку и согласование сессионных ключей, вычисление хэш-функций, шифрование с высокой скоростью.</li>
            <li>Обеспечивает построение защищённого канала с апплетом "Криптотокен 2 ЭП". Позволяет безопасно передавать команды и данные, в том числе с использованием технологий беспроводной передачи данных (например, NFC, Bluetooth).</li>
            <li>Поддерживает только функции и команды из "белого" списка, доступные Пользователю. СКЗИ сделано так, что Пользователю доступны только высокоуровневые функции и криптографически безопасные команды.</li>
        </ul>
    </div>
    <div class="col-4">
        <img src="{{ asset('images/catalog/jacarta-2_gost/sostav_skzi.png') }}" class="img-fluid" alt="Состав СКЗИ JaCarta-2 ГОСТ" />
    </div>
</div>

<h3 class="text-center">Сравнение старой и новой архитектуры СКЗИ</h3>
<div class="row mb-4">
    <div class="col-6">
        <a href="{{ asset('images/catalog/jacarta-2_gost/skzi-comparision-1.png') }}">
            <img src="{{ asset('images/catalog/jacarta-2_gost/skzi-comparision-1-preview.png') }}" class="img-fluid" alt="Старая архитектура СКЗИ" />
        </a>
    </div>
    <div class="col-6">
        <a href="{{ asset('images/catalog/jacarta-2_gost/skzi-comparision-2.png') }}">
            <img src="{{ asset('images/catalog/jacarta-2_gost/skzi-comparision-2-preview.png') }}" class="img-fluid" alt="Новая архитектура СКЗИ" />
        </a>
    </div>
</div>

<p>При использовании ГОСТ Р 34.11-94 и ГОСТ Р 34.10-2001 переделка ПО, ранее использовавшего предыдущую версию JaCarta ГОСТ, не потребуется &mdash; новый продукт <b>обратно совместим</b> с предыдущей версией.</p>

<h3 class="text-center">Безопасность архитектуры микроконтроллера</h3>
<p>Защищенность микроконтроллера обеспечивается на аппаратном и программном уровнях, что позволяет успешно противостоять большинству возможных угроз безопасности:</p>
<ul class="list-condensed">
    <li>физические и логические атаки;</li>
    <li>переборные и статистические атаки;</li>
    <li>стрессовое воздействие (эксплуатация в нештатных ситуациях и внешних условиях);</li>
    <li>клонирование.</li>
</ul>
<p>Для противодействия известным атакам в микроконтроллере используются следующие основные механизмы и технические решения:</p>
<div class="row">
    <div class="col-6">
        <ul class="list-condensed">
            <li>процедуры самотестирования структуры микроконтроллера;</li>
            <li>активная аппаратная защита от чтения областей RАM, EEPROM, ROM;</li>
            <li>контроль целостности данных RAM, ROM, EEPROM и данных, передаваемых по внутренним шинам;</li>
            <li>контроль несанкционированного вскрытия и подключений зондов;</li>
            <li>стирание области RAM при сбросе или срабатывании датчиков вторжения;</li>
            <li>защита от статического электричества напряжением до 6,000 В;</li>
            <li>применение многослойной структуры кристаллов (несколько десятков слоев) и дополнительных промежуточных слоев металлизации (технология Active Shield);</li>
            <li>перемешивание структуры функциональных блоков микроконтроллера (CPU, RAM, EEPROM, ROM), размещение отдельных блоков внутри чипа и между его слоями;</li>
            <li>создание в кристалле внутренней напряженности, защищающей микроконтроллер от оптического и электронного сканирования;</li>
            <li>система надежного восстановления после сбоев;</li>
            <li>система защиты среды выполнения прикладного программного обеспечения;</li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-condensed">
            <li>генератор случайных тактов ожидания;</li>
            <li>защита от многократного использования ресурсов при переборных атаках;</li>
            <li>система защита от накопления статистических данных по времени выполнения команд и энергопотреблению;</li>
            <li>система обнаружения инвазивных и неинвазивных атак на компоненты;</li>
            <li>специализированные механизмы противодействия атакам простого анализа энергопотребления (SPA, Simple Power Attack) и дифференциального анализа энергопотребления (DPA, Differential Power Analysis);</li>
            <li>система предотвращения Side-channel криптоанализа;</li>
            <li>система защиты от использования в нештатных режимах работы;</li>
            <li>контроль пониженного и повышенного напряжения питания (Voltage Monitor);</li>
            <li>контроль пониженной и повышенной тактовой частоты (Frequency Monitor);</li>
            <li>контроль пониженной и повышенной температуры (Temperature Monitor);</li>
            <li>защита от высокочастотных помех.</li>
        </ul>
    </div>
</div>

<p>Микроконтроллер соответствует профилю защиты для смарт-карт (Smart Card Security User Group &mdash; Smart Card Protection Profile &mdash; SCSUG-SCPP), что подтверждается результатами его сертификации по методике Сommon Criteria.</p>