<h2>6 главных отличий от конкурирующих продуктов</h2>

<div class="row">
    <div class="col-6">
        <div class="features__item">
            <h3 class="features__title">
                {#<img class="features__image" src="{{ this.assetsUrl }}/icons/JC-2-07.png">#}
                <span>Сертифицировано<br>по новым требованиям ФСБ России</span>
            </h3>
            <div class="features__description">
                <div class="diff diff_good">
                    <p>JaCarta-2 ГОСТ &mdash; функционально законченный и криптографически безопасный продукт:</p>
                    <ul>
                        <li>Имеет "белый" список безопасных функций, разрешённых для встраивания в прикладное и системное ПО</li>
                        <li>Оценка влияния (корректность встраивания) при использовании команд из "белого" списка становится простой формальной процедурой.</li>
                    </ul>
                </div>
                <div class="diff diff_bad text-secondary">
                    Большинство конкурирующих продуктов не имеет "белых" списков функций и <b>не допускает легитимного встраивания</b> без сертификации нового СКЗИ, созданного из компонентов другого.
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="features__item">
            <h3 class="features__title">
                {#<img class="features__image" src="{{ this.assetsUrl }}/icons/JC_2-18.png">#}
                <span>Secure By Design &mdash; продукт сделан на базе защищённых смарт-карточных чипов</span>
            </h3>
            <div class="features__description">
                <div class="diff diff_good">
                    <p>Используемые в устройстве JaCarta-2 ГОСТ чипы имеют встроенные средства защиты от всех известных атак, методов взлома и клонирования, их безопасность подтверждена сертификацией по международным требованиям.</p>
                </div>
                <div class="diff diff_bad text-secondary">
                    Большинство конкурирующих продуктов использует недорогие микроконтроллеры <b>без защиты от взлома и клонирования</b>.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="features__item">
            <h3 class="features__title">
                {#<img class="features__image" src="{{ this.assetsUrl }}/icons/JC_2-12.png">#}
                <span>Автоматическое построение защищённого канала между СКЗИ и хостом</span>
            </h3>
            <div class="features__description">
                <div class="diff diff_good">
                    <p>Работа между токеном JaCarta-2 ГОСТ и хостом производится по защищённому каналу, другое ПО для этого не требуется.</p>
                </div>
                <div class="diff diff_bad text-secondary">
                    Конкурирующие продукты канал передачи данных и команд между токеном и хостом <b>не закрывают</b>.
                    Если требуется защита передаваемых данных, то для этого надо использовать <b>продукты третьих фирм</b>.
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="features__item">
            <h3 class="features__title">
                {#<img class="features__image" src="{{ this.assetsUrl }}/icons/JC_2-10.png">#}
                <span>Защита от атак на PIN-код и от блокирования устройства</span>
            </h3>
            <div class="features__description">
                <div class="diff diff_good">
                    <p>JaCarta-2 ГОСТ имеет встроенную защиту от атак на PIN-код и механизмы автоматического восстановления заблокированного устройства по времени.</p>
                </div>
                <div class="diff diff_bad text-secondary">
                    Конкурирующие продукты на имеют такой защиты, заблокированное <b>устройство восстановить нельзя</b>.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="features__item">
            <h3 class="features__title">
                {#<img class="features__image" src="{{ this.assetsUrl }}/icons/JC-2-27.png">#}
                <span>Высокая скорость подписания<br>объёмных документов</span>
            </h3>
            <div class="features__description">
                <div class="diff diff_good">
                    <p>Вычисление хэш-функции от документов у JaCarta-2 ГОСТ производится программной библиотекой (ИКБ) на стороне хоста со скоростью работы основного процессора, а не на  микроконтроллере устройства, хэш для формирования ЭП передаётся в устройство по защищённому каналу.</p>
                </div>
                <div class="diff diff_bad text-secondary">
                    Конкурирующие продукты считают хэш в "слабом" микроконтроллере <b>намного дольше</b>, либо для его расчёта на стороне хоста используют СКЗИ третьих фирм и передают хэш для формирования подписи в устройство по открытому каналу, что <b>очень небезопасно</b>.
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="features__item">
            <h3 class="features__title">
                {#<img class="features__image" src="{{ this.assetsUrl }}/icons/JC-2-24.png">#}
                <span>Безопасное администрирование</span>
            </h3>
            <div class="features__description">
                <div class="diff diff_good">
                    <p>Инициализация токена JaCarta-2 ГОСТ, ввод в эксплуатацию, вывод из эксплуатации (с гарантированным уничтожением всех пользовательских ключей и данных), работа с доверенными объектами и прочее производится на АРМе администратора безопасности.</p>
                </div>
                <div class="diff diff_bad text-secondary">
                    <p>При распространении проинизиализированных производителем некоторых конкурирующих продуктов администратор может получить доступ к закрытым ключам ЭП пользователей, <b>нарушая основополагающий принцип PKI</b> &mdash; "Ключ ЭП известен только его владельцу".</p>
                    <p>ЗАПРЕЩАЕТСЯ повторно выдавать ранее использовавшийся токен другому пользователю без полной его перепрошивки у производителя. Уничтожить в устройстве ключи ЭП и журнал проведённых операций на АРМе администратора нельзя.</p>
                </div>
            </div>
        </div>
    </div>
</div>