<div class="row">
    <div class="col-6">
        <div class="features__item">
            <h4 class="d-flex align-items-center">
                <img class="icon icon-64 mr-3" width="64" height="64" src="{{ asset('icons/JC-2_Climate.png') }}" alt="Климатическое исполнение" />
                <span>Климатическое исполнение</span>
            </h4>
            <div class="features__description">
                <p>Устройства соответствуют требованиям <b class="text-nowrap">ГОСТ РВ 20.39.304-98</b> "Aппаратура, приборы, устройства и оборудование военного назначения. Требования стойкости к внешним воздействующим факторам", относится к группе <b>1.1 УХЛ</b> (умеренно холодное исполнение) и предназначены для установки в отапливаемых помещениях и эксплуатации в условиях круглосуточной или сменной работы с техническими перерывами.</p>
                <p>Нормальными климатическими условиями эксплуатации аппаратной части устройств являются:</p>
                <ul>
                    <li>температура окружающего воздуха (20&nbsp;±&nbsp;5)°С;</li>
                    <li>относительная влажность окружающего воздуха (60&nbsp;±&nbsp;15)%;</li>
                    <li>атмосферное давление — от 84 до 107 кПа (<span class="text-nowrap">630 – 800 мм рт. ст.</span>).</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="features__item">
            <h4 class="d-flex align-items-center">
                <img class="icon icon-64 mr-3" width="64" height="64" src="{{ asset('icons/JC-2_Warranty.png') }}" alt="Расчётный срок службы" />
                <span>Расчётный срок службы</span>
            </h4>
            <div class="features__description">
                <ul>
                    <li>Расчётный срок службы — <b>3 года</b>.</li>
                    <li>Рекомендуемый срок полезного использования устройства — <b>3 года</b> (рекомендация для бухгалтерии при планировании замены устройств, срок службы которых подходит к концу, на новые).</li>
                    <li>Срок хранения записанных данных — <b>не менее 10 лет</b>.</li>
                    <li>Ресурс EEPROM — <b>не менее 500,000</b> циклов записи.</li>
                    <li>Ресурс устройства по количеству операций формирования ЭП — <b>не менее 10,000,000</b> операций.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="features__item">
            <h4 class="d-flex align-items-center">
                <img class="icon icon-64 mr-3" width="64" height="64" src="{{ asset('icons/JC-2_Water.png') }}" alt="Пылевлагозащищённость" />
                <span>Пылевлагозащищённость</span>
            </h4>
            <div class="features__description">
                <p>Устройства производятся в соответствии с требованиями международного и российского стандартов <span class="text-nowrap">IEC 60529</span>, <span class="text-nowrap">ГОСТ 14254-96</span>, <span class="text-nowrap">DIN 40050</span>, <span class="text-nowrap">МЭК 529:1989</span> для степени защиты <b>IP56</b>. Допускается использование устройств в пыльных помещениях, воздействие мощных водяных струй с различных направлений.</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="features__item">
            <h4 class="d-flex align-items-center">
                <img class="icon icon-64 mr-3" width="64" height="64" src="{{ asset('icons/JC-2_Electro.png') }}" alt="Защита от пробоя статическим электричеством" />
                <span>Защита от пробоя статическим электричеством </span>
            </h4>
            <div class="features__description">
                <p>Устройства имеют повышенную защищённость от пробоя статическим электричеством <b>до 15 кВ</b> и соответствуют требованиям <span class="text-nowrap">ГОСТ Р 51317.4.2-2010</span>.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="features__item">
            <h4 class="d-flex align-items-center">
                <img class="icon icon-64 mr-3" width="64" height="64" src="{{ asset('icons/JC-2_Magneto.png') }}" alt="Электромагнитная безопасность" />
                <span>Электромагнитная безопасность</span>
            </h4>
            <div class="features__description">
                <p>Устройства изготовлены в соответствии с требованиями <span class="text-nowrap">ГОСТ 30805.22-2013</span>, <span class="text-nowrap">ГОСТ CISPR 24-2013</span>, Технического регламента Таможенного союза, утвержденного Решением Комиссии Таможенного союза от <span class="text-nowrap">№ 879 9.12.2011</span>, <span class="text-nowrap">ТР ТС 020/2011</span> "Электромагнитная совместимость технических средств", имеют <b>повышенную защищённость от воздействия электромагнитных излучений и индустриальных помех</b>, <b>не являются источником электромагнитных помех</b>, которые могут повлиять на работу другого электронного оборудования, чувствительного к электромагнитным излучениям и помехам, и полностью соответствуют международным требованиям в части уровня электромагнитных помех радиоустройствам (EAC, FCC) и требованиям <span class="text-nowrap">ГОСТ Р 51318.22-99</span>.</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="features__item">
            <h4 class="d-flex align-items-center">
                <img class="icon icon-64 mr-3" width="64" height="64" src="{{ asset('icons/JC-2_Health.png') }}" alt="Безопасность для здоровья человека" />
                <span>Безопасность для здоровья человека</span>
            </h4>
            <div class="features__description">
                <p>Корпус устройств изготовлен из прочного, износо- и ударопрочного, негорючего АБС-пластика, безопасного для здоровья человека (Сертификат TUVRheinland <span class="text-nowrap">№ 10044908 005</span>).</p>
                <p>Устройства производятся в соответствии с международными Директивами и стандартами RoHS, PoHS, 2003/11/EC, 2006/122/EC, SS-00259, ограничивающими использование опасных для здоровья и окружающей среды свинца, кадмия, ртути, шестивалентного хрома, бромидных соединений, и соответствуют требованиям стран ЕС (СЕ).</p>
                <p>Сертификат Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека о соответствии USB-токенов JaCarta положениям раздела 7 "Требования к продукции машиностроения, приборостроения и электротехники" главы II Единых санитарно-эпидемиологических и гигиенических требований к товарам, подлежащим санитарно-эпидемиологическому надзору (контролю), утвержденных решением Комиссии Таможенного союза №&nbsp;299 от 28.05.2010 г.</p>
            </div>
        </div>
    </div>
</div>