{% extends 'catalog.html.twig' %}

{% block title %}Secret Disk 5 (сертифицированная версия){% endblock %}

{% block meta_description %}
    Защита конфиденциальной информации и персональных данных на ПК
{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p class="font-weight-bold">{{ block('meta_description') }}</p>
            <p>Система защиты конфиденциальной информации и персональных данных на ПК или ноутбуке с возможностью коллективной работы по сети</p>
            {% set features = [
                "Защита информации от несанкционированного доступа",
                "Двухфакторная аутентификация с помощью электронного ключа для доступа к защищаемым данным",
                "Защита системного раздела",
                "Прозрачная работа для пользователя",
                "Защита конфиденциальной информации от системного администратора"
            ] %}
            <ul class="list-unstyled list-icons small">
                {% for feature in features %}
                    <li>
                        <ion-icon name="checkmark" class="text-primary"></ion-icon>
                        <span>{{ feature | raw }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/secret_disk/Box_Media_Kit_SD5S.png') }}" class="img-fluid" style="max-height: 300px" alt="Secret Disk 5 - {{ block('meta_description') }}" />
            <div class="font-weight-normal small my-4">
                Зарегистрировано в реестре российских программ<br>для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/73528/" target="_blank">№ 514</a>)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('download', {'uuid': 'b8da479d-2dd9-473c-a6ba-7049a4333f62'}) }}" class="btn btn-dark mr-4">Скачать буклет</a>
        </div>
        <div class="col-6">
            <div class="small text-center">
                Для получения дистрибутива сертифицированной версии<br/>Secret Disk 5 обратитесь в техническую поддержку
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            <h2>Назначение сертифицированной версии Secret Disk 5</h2>
            <ul>
                <li>Защита от несанкционированного доступа и утечки конфиденциальной информации, хранящейся и обрабатываемой на персональном компьютере или ноутбуке.</li>
                <li>Защита информации на съёмных носителях.</li>
                <li>Разграничение прав пользователей на доступ к защищаемой информации с использованием надёжной двухфакторной аутентификации (владение электронным ключом и знание пароля).</li>
                <li>Сокрытие наличия на персональном компьютере конфиденциальных данных.</li>
            </ul>

            <h2>Когда необходим Secret Disk 5?</h2>
            <ul>
                <li>При работе с персональными данными или конфиденциальной информацией, защита которых является <b>законодательным требованием</b>.</li>
                <li><b>При работе на ноутбуке</b>. Защита при утере или краже ноутбука от возможности несанкционированного использования защищаемой информации посторонними лицами.</li>
                <li><b>При работе на персональном компьютере в офисе</b>. Защита от несанкционированного доступа к защищаемым данным по локальной сети или неправомерное использование компьютера посторонними лицами во время отсутствия пользователя на рабочем месте.</li>
                <li><b>При передаче компьютера на сервисное обслуживание</b>. Защита от несанкционированного доступа к данным во время проведения ремонтных и сервисных работ внутренней IT-службой или внешней сервисной компанией.</li>
                <li><b>При транспортировке информации на съёмных носителях</b>. Защита от случайной утери или кражи носителей, которая может повлечь за собой утрату конфиденциальных данных.</li>
                <li><b>При необходимости предоставить системному администратору полный доступ к компьютеру</b>. Защита от доступа к конфиденциальным данным при установке нового или обновлении имеющегося программного обеспечения и его параметров и настроек.</li>
            </ul>

            <h2>Ключевые преимущества Secret  Disk 5</h2>
            <h3>Наличие действующего сертификата ФСТЭК России</h3>
            <p><a href="{{ path('download', {'uuid': 'd090f297-e73f-46bb-89e0-186a1e3dde91'}) }}">Сертификат ФСТЭК России № 3742</a> действителен до 12 мая 2020 года и подтверждает, что Secret Disk 5 является программным средством защиты от несанкционированного доступа к информации, не содержащей сведения, составляющие государственную тайну, реализующим функции аутентификации пользователей, управления доступом и регистрации событий безопасности. SD5 соответствует требованиям руководящего документа "Защита от несанкционированного доступа к информации. Часть 1. Программное обеспечение средств защиты информации. Классификация по уровню контроля отсутствия недекларированных возможностей" (Гостехкомиссия России, 1999) – по 4 уровню контроля и технических условий при выполнении указаний по эксплуатации, приведённых в паспорте.</p>

            <h3>Безопасность</h3>
            <p>Современные алгоритмы преобразования информации и возможность использовать сертифицированные криптопровайдеры, а также надёжная процедура подтверждения прав пользователя обеспечивают защиту конфиденциальных данных от множества угроз.</p>

            <h4>Защита данных</h4>
            <p>Secret Disk 5 не имеет встроенных средств шифрования информации. Однако продукт предусматривает возможность использования внешних средств шифрования информации, установленных в операционной системе. Тем самым продукт обеспечивает защиту данных путём шифрования разделов на жёстких дисках, томов на динамических дисках, виртуальных дисков и съёмных носителей.</p>

            <h4>Защита системного раздела жёсткого диска</h4>
            <p style="font-style:italic;color:#999">Данная функция доступна на подавляющем большинстве ноутбуков/персональных компьютеров. Для подтверждения возможности использования данной функции на конкретной модели ноутбука/ПК необходимо выполнить тестовую перезагрузку Secret Disk. При наличии у компьютера режима UEFI BIOS, компьютер должен быть переведён из режима LEGACY BIOS в режим UEFI. Перед установкой защиты системного раздела средствами Secret Disk на сенсорном планшете с архитектурой x86 необходимо убедиться в возможности подключения клавиатуры и токена одновременно, поскольку поддержка графической экранной клавиатуры в UEFI реализована не у всех производителей.</p>
            <p>Системный раздел жёсткого диска содержит данные, представляющие особый интерес для хакеров, конкурентов или инсайдеров. Например, в системном разделе хранятся учётные записи пользователей, логины и пароли к различным информационным ресурсам, электронная почта, лицензионная информация используемых программ и т.д.</p>
            <p>Злоумышленники могут получить все эти данные, анализируя временные файлы ОС, файлы подкачки, файлы-журналы приложений, дампы памяти, а также образ, сохраняемый на диск при переходе системы в "спящий" режим.</p>
            <p>Secret Disk 5, в отличие от многих конкурентов, позволяет защитить системный раздел, а также хранящуюся на нём информацию.</p>

            <h4>Загрузка операционной системы по предъявлению электронного ключа</h4>
            <p>Получив доступ к персональному компьютеру, злоумышленник или недобросовестный сотрудник может использовать его для получения доступа к закрытым ресурсам (например, к корпоративным серверам или платёжным данным пользователя). Стандартные средства авторизации операционной системы Microsoft Windows не могут надёжно ограничить загрузку и работу в операционной системе. Использование электронных <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">USB-ключей и смарт-карт</a> для аутентификации пользователей до загрузки ОС гарантирует доступ к компьютеру только лицам, получившим такое право.</p>
            <p>Secret Disk 5 предоставляет наиболее безопасную и надёжную на сегодняшний день процедуру подтверждения прав пользователя – двухфакторную аутентификацию – для доступа к данным необходимо не только наличие электронного ключа, но и знание ПИН-кода к нему.</p>

            <h4>Пофайловое преобразование</h4>
            <p>Новый режим преобразования информации, применяемый в Secret Disk 5, выводит этот продукт на принципиально новый уровень обеспечения безопасности пользовательских данных. Преобразованные файлы и папки с конфиденциальными данными пользователя будут недоступны системному администратору даже из параллельной сессии Windows, потому что Secret Disk 5 предоставит доступ только легитимному владельцу информации.</p>
            <p>Создание и восстановление резервной (backup) копии файлов в защищённых папках могут быть произведены системным администратором сети даже дистанционно, при этом данные в файлах будут оставаться недоступными ни администратору, ни злоумышленникам.</p>

            <h4>Необратимое удаление данных</h4>
            <p>В Secret Disk 5 реализованы две функции безопасного удаления данных:</p>
            <ul>
                <li><b>Необратимое удаление данных</b>. Восстановить файл будет невозможно ни стандартными средствами Windows, ни сторонними приложениями.</li>
                <li><b>Перемещение файла без возможности восстановления по исходному пути</b>. Позволяет перенести файл или папку, одновременно удалив их по исходному пути без возможности последующего восстановления.</li>
            </ul>

            <h4>Возможность использования сертифицированных криптопровайдеров</h4>
            <p>При установке дополнительных поставщиков криптографии (криптопровайдеров) Secret Disk 5 позволяется защищать данные в соответствии с требованиями ГОСТ 28147-89 "Системы обработки информации. Защита криптографическая". Решение также может комплектоваться сертифицированным <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">электронным ключом</a> (USB-токеном или смарт-картой).</p>

            <h3>Надёжность</h3>
            <p>Решение устойчиво к возможным сбоям операционной системы или отключениям электропитания, что исключает возможность повреждения данных. Поддерживаются резервное копирование и восстановление аутентификаторов доступа в случае утери персонального электронного ключа.</p>

            <h4>Восстановление доступа к защищённым дискам</h4>
            <p>В случае утери или поломки <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">USB-ключа или смарт-карты</a> в Secret Disk 5 предусмотрена возможность резервного восстановления доступа к данным.</p>

            <h4>Защита от сбоев во время установки защиты</h4>
            <p>Процесс установки защиты диска может быть приостановлен или даже прерван, например, из-за перебоев электропитания, однако это не повлечёт за собой потерю данных. Приостановленный или прерванный процесс установки защиты может быть возобновлён в любой удобный момент. По завершении процесса защиты всё содержимое диска становится преобразованным, что обеспечивает надёжную защиту хранящихся на нём данных.</p>

            <h3>Удобство</h3>
            <p>Установка Secret Disk 5 не потребует перенастройки Вашего ПО. Преобразование данных "на лету" и удобный пользовательский интерфейс сделают Вашу работу максимально комфортной.</p>

            <h4>Прозрачное шифрование</h4>
            <p>Операции начального преобразования или смены аутентификатора доступа для современных дисков большого объёма могут потребовать значительного времени, что может создать определённые неудобства для пользователя.</p>
            <p>В Secret Disk 5 все операции установки, смены и снятия защиты проводятся в фоновом режиме. Во время выполнения этих операций диск полностью доступен для работы, что даёт возможность использовать компьютер, не дожидаясь окончания процесса установки защиты.</p>

            <h4>Защищённые контейнеры</h4>
            <p>В новой версии Secret Disk появилась новейшая функция создания защищённых контейнеров, во многом сходных по структуре и способу доступа с виртуальными дисками, но имеющие кардинальное отличие: их можно монтировать на компьютерах, где не установлен Secret Disk. Для использования защищённых контейнеров на компьютерах без установленного Secret Disk 5 достаточно скачать программу SDR (Secret Disk Reader) и получить от отправителя контейнера пароль доступа.</p>
            <p>Получатель контейнера может не только смонтировать его как виртуальный диск, но и редактировать файлы в контейнере, и даже добавлять в контейнер новые файлы, которые также будут автоматически защищены.</p>

        </div>
    </div>
{% endblock %}