{% extends app.request.get('print') ? 'main.print.html.twig' : 'main.html.twig' %}

{% block title %}Записи вебинаров{% endblock %}
{% block meta_description %}{{ element.description }}{% endblock %}

{% block content %}

    <h2 class="text-primary mt-0">
        {{ element.title | raw }}
    </h2>

    <div class="lead mb-5">
        {{ element.description | raw }}
    </div>

    <div class="news-item_content">
        {{ element.content | raw }}
    </div>

    <div class="text-muted small d-flex justify-content-between d-print-none">
        <div>
            <a href="{{ path('pressroom:webinars') }}" class="tag bg-light text-dark">Все записи</a>
        </div>
        <div>
            <a href="{{ path('pressroom:webinars:view', {'code': element.code, 'print': true}) }}" class="tag bg-info text-white">
                Версия для печати
            </a>
        </div>
    </div>

    <div class="news-other__block mt-5 small d-print-none">
        <p class="large">Другие записи</p>
        {% set conditions = {
            "catalog": "webinars",
            "type": "E",
            "limit": 5,
            "order": "sort,-activeFrom"
        } %}
        <div data-widget="api"
             data-url="{{ path('widget') }}"
             data-endpoint="/catalogs/elements"
             data-conditions="{{ conditions | json_encode }}"
             data-template="/_widgets/webinars.light.html.twig">
            {% for i in 1..3 %}
                {{ include('_widgets/news.light.placeholder.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ include('company/_sidebar.html.twig') }}
{% endblock %}