<h2>Описание</h2>
<p><b>JaCarta PRO</b> — семейство USB-токенов и смарт-карт для обеспечения строгой двухфакторной аутентификации
    пользователей при работе с инфраструктурой открытых ключей (PKI) и доступе к защищённым информационным ресурсам
    организации, а также для безопасного хранения ключей, ключевых контейнеров программных СКЗИ (КриптоПро CSP, ViPNet
    CSP и др.), профилей и паролей.</p>
<p>Отличительной особенностью устройств JaCarta PRO является обратная совместимость с программными продуктами компании
    Aladdin Knowledge Systems, предназначенными для работы с семейством токенов eToken PRO (Java). Это позволяет
    применять JaCarta PRO в автоматизированных системах, где уже используются токены eToken PRO (Java), и требуется
    поэтапно заменить эти зарубежные изделия на российские продукты в рамках реализации мероприятий по
    импортозамещению. </p>
<p>Семейство токенов JaCarta PRO сертифицировано ФСТЭК России (сертификат № 3449) на соответствие 4 уровню контроля
    отсутствия недекларированных возможностей (НДВ 4), что позволяет применять эти токены в автоматизированных системах
    до класса защищённости 1Г включительно, в ГИС до 1 класса защищённости включительно и в ИСПДн до 1 уровня
    защищённости включительно. </p>

<h2 class="mt-4">Исполнения</h2>

<div class="row justify-content-center mb-4">
    <div class="col-8 large">
        Устройства JaCarta PRO могут поставляться в виде USB-токенов или смарт-карт. Функционально они идентичны, но предполагают различные модели использования, разный набор доступных опций (расширение функциональных или эксплуатационных характеристик) и разные возможности кастомизации.
    </div>
</div>

{{ include('catalog/jacarta/_shared/_models.html.twig', {'col': 4, 'models': [
    { 'image': 'Computer_PC_left_JC-XL_Crop.jpg', 'title': 'USB-токены в классическом корпусе XL' },
    { 'image': 'Computer_PC_left_JC-Nano_Crop.jpg', 'title': 'USB-токены в компактном корпусе Nano' },
    { 'image': 'Card_JC300_Black_Crop.png', 'title': 'Смарт-карты в базовом чёрном дизайне' },
]}) }}

<div class="mt-4">
    {{ include('catalog/jacarta/_shared/_custom.html.twig', {'title': 'JaCarta PRO'}) }}
</div>

<h2 class="mt-4">Рекомендуемое оборудование</h2>

<div class="row justify-content-center mb-4">
    <div class="col-8 large">
        <p>Для работы со смарт-картами со стационарного компьютера рекомендуется использование офисных смарт-карт ридеров <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_IIIe_USB'}) }}" class="text-nowrap">ASEDrive IIIe USB</a>, с ноутбуками &mdash; компактных <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_III_USB_Mini'}) }}" class="text-nowrap">ASEDrive III USB Mini</a>.</p>
    </div>
</div>

{{ include('catalog/jacarta/_shared/_recommended.html.twig', {'models': [
    { 'image': 'ASEDrive_IIIe_USB_Crop.png', 'title': 'ASEDrive IIIe USB', 'description': 'Для работы на стационарных ПК', 'route': path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_IIIe_USB'}) },
    { 'image': 'ASEDrive_III_USB_Mini_Crop.png', 'title': 'ASEDrive III USB Mini', 'description': 'Для работы на ноутбуках', 'route': path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_III_USB_Mini'}) },
    { 'image': 'Feitian_iR301-UL_Crop.png', 'title': 'Специальные ридеры', 'description': 'Для работы на планшетах и смартфонах', 'route': path('catalog:product:page', {'product': 'readers', 'page': 'mobile'}) },
]}) }}