<h2 class="mt-0 text-center">Состав решения</h2>

<p>Для встраивания механизмов аутентификации и ЭП в мобильное приложение потребуются следующие компоненты: JC-Mobile SDK
    и аппаратные средства аутентификации и ЭП (токены).</p>

<div class="row">
    <div class="col-8 offset-2">
        <div class="bg-white d-flex align-items-start p-5">
            <img src="{{ asset('images/catalog/jc-mobile/SDK-01.png') }}" width="100" alt="" />
            <div class="ml-4">
                <h3>Комплект разработчика <span class="text-nowrap">JC-Mobile SDK</span> для проведения работ по интеграции решения</h3>
                <p>Комплект разработчика представляет собой набор библиотек для Apple iOS и Google Android, которые
                    обеспечивают работу со смарт-картами и MicroUSB-токенами <a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">JaCarta ГОСТ</a> (eToken ГОСТ), а также с Secure
                    MicroSD-токенами JaCarta на мобильном устройстве.</p>
            </div>
        </div>
        <p class="lead text-center">+</p>
        <div class="bg-white p-5">
            <h3>Аппаратные средства аутентификации и ЭП</h3>

            <img src="{{ asset('images/catalog/jc-mobile/image.png') }}" class="img-fluid" alt="" />

            <h3>Доступные форм-факторы токена</h3>
            <p><b>Для iOS-устройств</b></p>
            <ul>
                <li>Смарт-карта JaCarta ГОСТ
                    <ul>
                        <li>Совместно со смарт-карт ридером <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Apple_Lighting'}) }}">iR301-UL</a> (Lightning) или
                            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Apple_Dock'}) }}">iR301-U</a> (30-pin)
                        </li>
                        <li>Совместно с беспроводным смарт-карт ридером <a
                                    href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'bR301'}) }}">bR301</a></li>
                        <li>Совместно с <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Case_Leather'}) }}">кожаным чехлом</a> для
                            iPad, iPad Air со встроенным смарт-карт ридером
                        </li>
                        <li>Совместно с <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Case_Plastic'}) }}">пластиковым чехлом</a>
                            для iPad mini, iPad Air со встроенным смарт-карт ридером
                        </li>
                    </ul>
                </li>
            </ul>
            <p><b>Для Android-устройств</b></p>
            <ul>
                <li>MicroUSB-токен JaCarta ГОСТ</li>
                <li>Secure MicroSD-токен JaCarta ГОСТ*</li>
                <li>Смарт-карта JaCarta ГОСТ совместно с беспроводным смарт-карт ридером bR301</li>
            </ul>

            <h3>Преимущества</h3>
            <ul>
                <li><b>Безопасность. </b>Смарт-карта и MicroUSB-токен JaCarta имеют встроенную защиту от клонирования,
                    взлома и других специальных атак, соответствуют профилю безопасности Smart Card Protection Profile,
                    уровню защиты Common Criteria EAL 4+ (MicroUSB-токен – Common Criteria EAL 5+) и имеют
                    сертификаты/положительные заключения ФСТЭК России и ФСБ России.
                </li>
                <li><b>Отчуждаемость. </b>MicroUSB-токен и смарт-карту JaCarta легко отсоединить от устройства при
                    завершении работы с информационными ресурсами и ЭП. При yтере или краже мобильного устройства токен
                    остаётся у владельца. Отчуждаемость является важным требованием безопасности к персональному средству
                    аутентификации и ЭП.
                </li>
                <li><b>Удобство. </b> Токены обладают оптимальным размером и строгим стильным дизайном. Их легко хранить и
                    сложно потерять. MicroUSB-токен имеет миниатюрный карабин для крепления к связке с ключами, а
                    смарт-карта легко помещается в обычный кошелёк. Используя же беспроводной ридер, можно работать с
                    электронной подписью, не доставая ридер с картой из сумки или кармана.
                </li>
                <li><b>Один токен для мобильного устройства и ПК</b>. MicroUSB-токен, смарт-карту и Secure MicroSD-токен
                    можно использовать не только в рамках решения JC-Mobile на мобильных устройствах, но и в устройствах на
                    базе Windows, Mac OS X, Linux. Для этого требуется только иметь переходник или смарт-карт ридер.
                </li>
                <li><b>MicroUSB-токен и 80 КБ защищённой памяти. </b> MicroUSB-токен имеет 80 КБ защищённой памяти, что даёт
                    возможность хранить большее количество сертификатов, ключевых контейнеров для программных СКЗИ, профилей
                    и паролей.
                </li>
                <li><b>Secure MicroSD-токен и дополнительная flash-память. </b> Secure MicroSD-токен имеет дополнительную
                    память для хранения документов и данных.
                </li>
                <li><b>Использование в M2M-решениях.</b> Возможно использование Secure MicroSD-токена для безопасного обмена
                    информацией между различными устройствами (например, об уровне запасов наличности в банкомате,
                    местоположении, температуре, времени и т.д.).
                </li>
            </ul>
            <p>* В составе решения JC-Mobile обеспечена поддержка Secure MicroSD-токена для Android 4.1-4.3. Secure
                MicroSD-токен не поддерживается в Android версий 4.4+ из-за ограничений прав доступа к внешним носителям,
                которые были введены Google в этих версиях ОС.</p>

        </div>
    </div>
</div>