<h2 class="mt-4">Aladdin Trusted Security Module (TSM)</h2>
<h3>Что это такое?</h3>
<p>Во-первых, это <b>технология "стерилизации" импортных ARM-процессоров</b> серии <b>i.MX6</b> компании NXP/Freescale, позволяющая заменить заводской загрузчик на собственный, доверенный, загрузить собственную реализацию Secure OS (TEE – Trusted Execution Environment) и обеспечить контроль над коммуникациями и процессами, загрузку и взаимодействие с любой "гостевой" системой (без внесения каких-либо изменений в неё или в используемые приложения).</p>
<p>Во-вторых, это лицензируемый <b>программный продукт – Embedded TSM</b>, который включает в себя:</p>
<ul>
    <li>Модуль доверенной загрузки, реализующий функции <b>электронного замка</b>, удовлятворяющий<sup>*</sup> требованиям Профиля ФСТЭК к средствам доверенной загрузки уровня BIOS второго класса защиты (до гостайны со степенью секретности "Совершенно Секретно").</li>
    <li>Модуль доверенного ввода/вывода с отображением режима - безопасный/опасный - зелёная/красная рамка вокруг экрана, выводимая напрямую из TrustZone.</li>
    <li>Модуль СКЗИ и ЭП<sup>*</sup>, реализующий набор российских криптоалгоритмов и протоколов, работает как трастлет в изолированной доверенной среде TrustZone с аппаратным доверенным хранилищем ключей. При этом все криптографические функции доступны приложениям в "гостевой" ОС через привычные вызовы библиотеки pkcs#11.</li>
    <li>Модуль централизованного управления, позволяющий с использованием системы JMS (<a href="{{ path('catalog:product', {'product': 'jms'}) }}">JaCarta Management System</a>) дистанционно управлять ключами и сертификатами, загрузкой трастлетов, безопасно обновлять "прошивку" процессора, загружать и анализировать журналы аудита и т.п.</li>
</ul>
<p><sup>*</sup> - <em>находится в процессе сертификации</em></p>

<h3>Что это даёт?</h3>
<p>Эта технология даёт возможность:</p>
<ol>
    <li>Использовать (продолжать использовать) самую современную, надёжную и недорогую элементную базу там, где необходимо обеспечить высокий уровень безопасности, например в КИИ, АСУ ТП, для навигационного и коммуникационного оборудования.</li>
    <li>"Перепрошивать" современные импортные ARM-процессоры (пока только для линейки i.MX6), загружая в их TrustZone российскую доверенную Secure OS с функциями "электронного замка", обеспечивающего:
        <ul>
            <li>Доверенную загрузку, контроль целостности как Secure OS, так и любой "гостевой" ОС и всех файлов программ и данных</li>
            <li>Защита данных от НСД, утечки, искажения, перехвата</li>
            <li>Контроль каналов и способов распространения защищаемых данных</li>
            <li>Использование российской криптографии (для приложений это выглядит как крипто-сопроцессор)</li>
            <li>Соответствие требованиям российских Регуляторов в области ИБ.</li>
        </ul>
    </li>
</ol>

<h3>Для кого?</h3>
<p>Эта технология и этот продукт предназначены <b>для разработчиков и производителей</b> электронной техники, системных интеграторов.</p>
<ul>
    <li>Пока поддерживается только линейка ARM-процессоров NXP/Freescale i.MX6 с одним, двумя и четырьмя ядрами. "Перепрошивка" процессоров может производиться без их выпаивания и изменения схемотехники.</li>
    <li>Лицензируется сертифицированное ПО – Aladdin TSM.</li>
    <li>Для создания инфраструктуры удаленного централизованного управления ключами, сертификатами, профилями и пр. рекомендуется использовать систему <a href="{{ path('catalog:product', {'product': 'jms'}) }}">JMS</a>.</li>
    <li>Для создания защищённых хранилищ и БД (для собираемых данных в системах КИИ, персональных данных, М2М, IoT, АСУ ТП и пр.) рекомендуется использование сертифицированной по КС3 системы защиты БД "<a href="{{ path('catalog:product', {'product': 'cryptobd'}) }}">Крипто БД</a>" (для PostgreSQL, Oracle, Tibero, на КС2 – MS SQL).</li>
</ul>

<h3>Примеры готовых устройств на базе i.MX6</h3>
<table style="width:100%">
    <colgroup>
        <col width="50%">
    </colgroup>
    <tr>
        <td class="text-center">
            <b>Терминальная станция</b><br>(крепление к задней стороне монитора)
        </td>
        <td class="text-center">
            <b>Промышленные компьютеры (M2M, IIoT)</b>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;text-align: center">
            <img src="{{ asset('images/catalog/trustzone/sample_01.png') }}" style="max-width: 300px">
        </td>
        <td style="vertical-align: middle;text-align: center">
            <img src="{{ asset('images/catalog/trustzone/sample_02.png') }}" style="max-width: 200px">
            <img src="{{ asset('images/catalog/trustzone/sample_03.png') }}" style="max-width: 200px">
        </td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">
            <b>Процессорные платы</b>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;text-align: center">
            <img src="{{ asset('images/catalog/trustzone/sample_04.png') }}" style="max-width: 300px">
        </td>
        <td style="vertical-align: middle;text-align: center">
            <img src="{{ asset('images/catalog/trustzone/sample_05.png') }}" style="max-width: 300px">
        </td>
    </tr>
</table>