    {% if (tickets | length) > 0 %}
        <table class="table">
            <colgroup>
                <col>
                <col width="100" />
                <col width="150" />
            </colgroup>
            <thead>
            <tr>
                <th>Тема</th>
                <th>Статус</th>
                <th>Обновлено</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>
                        <a href="{{ path("support:tickets:view", {'ticketID': ticket.ticketID}) }}">
                            {{ ticket.title | raw }}
                        </a>
                    </td>
                    <td>{{ ticket.state }}</td>
                    <td>
                        {% if ticket.changed %}
                            {{ ticket.changed | date }}
                        {% else %}
                            {{ ticket.created | date }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{{ path('support:tickets') }}" class="btn btn-outline-primary">Все обращения</a>
        </div>
    {% else %}
        <p>
            Открытых обращений в техническую поддержку компании "Аладдин Р.Д." не найдено.<br>
            Чтобы создать новое обращение, нажмите на кнопку "Создать обращение" ниже.
        </p>
    {% endif %}