{% extends 'wide.html.twig' %}

{% block title %}JaCarta - часто задаваемые вопросы (FAQ){% endblock %}
{% block meta_description %}Часто задаваемые вопросы по эксплуатации USB-токенов и смарт-карт JaCarta, а также по работе с ПК "Единый Клиент JaCarta"{% endblock %}

{% block heading %}JaCarta{% endblock %}

{% block lead %}
    <h2 class="text-center">Часто задаваемые вопросы</h2>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <p><b>USB-токены и смарт-карты JaCarta</b></p>
                <ul>
                    <li><a class="scrollable" href="#q1">Что такое JaCarta от компании "Аладдин Р.Д."?</a></li>
                    <li><a class="scrollable" href="#q2">Какие форм-факторы устройств семейства JaCarta поставляет "Аладдин Р.Д."?</a></li>
                    <li><a class="scrollable" href="#q3">JaCarta — почему выбрано такое название?</a></li>
                    <li><a class="scrollable" href="#q4">JaCarta — чья это разработка?</a></li>
                    <li><a class="scrollable" href="#q5">JaCarta — клон устройств линейки ID Protect производства NXP
                            (ранее — Athena Smartcard Solutions)?</a></li>
                    <li><a class="scrollable" href="#q6">JaCarta — клон токенов eToken?</a></li>
                    <li><a class="scrollable" href="#q7">Работает ли JaCarta в инфраструктуре, созданной для eToken PRO (Java)?</a></li>
                    <li><a class="scrollable" href="#q8">Что будет с продажами устройств семейства eToken?</a></li>
                    <li><a class="scrollable" href="#q9">Есть ли в JaCarta реализация новых ГОСТов 2012 года?</a></li>
                    <li><a class="scrollable" href="#q10">Какие сертификаты есть у устройств JaCarta?</a></li>
                </ul>
            </div>
            <div class="col-6">
                <p><b>ПК "Единый Клиент JaCarta"</b></p>
                <ul>
                    <li><a class="scrollable" href="#q12">Что такое ПК "Единый Клиент JaCarta"?</a></li>
                    <li><a class="scrollable" href="#q13">Что такое "сертифицированная версия ПК "Единый Клиент JaCarta"?</a></li>
                    <li><a class="scrollable" href="#q14">Что поставляется в комплекте (Media Kit)?</a></li>
                    <li><a class="scrollable" href="#q15">Как получить обновлённую сертифицированную версию ПК "Единый Клиент JaCarta"
                            версии 2.11? Какие предусмотрены условия для получения дистрибутива сертифицированной версии
                            ПК "Единый Клиент JaCarta"?</a></li>
                    <li><a class="scrollable" href="#q16">Дайте ссылку на дистрибутив сертифицированной версии ПК "Единый Клиент JaCarta"
                            2.11.</a></li>
                    <li><a class="scrollable" href="#q17">Ранее мы уже приобретали комплект (Media Kit) с сертифицированной версией ПК
                            "Единый Клиент JaCarta" по сертификату соответствия ФСТЭК России № 3449. Нужно ли нам
                            обновлять версию ПК "Единый Клиент JaCarta"?</a></li>
                </ul>
            </div>
        </div>


        <hr>

        <h3 class="h2" id="q1">Что такое JaCarta от компании "Аладдин Р.Д."?</h3>

        <p>JaCarta — семейство аппаратно-программных средств аутентификации и электронной подписи (USB-токенов,
            смарт-карт и модулей безопасности), созданное российской компанией "Аладдин Р.Д.". В состав семейства
            JaCarta входят:</p>
        <div class="row">
            <div class="col">
                <ul class="families">
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a> — новое поколение USB-токенов, смарт-карт и модулей безопасности (SIM, чипы для монтажа на печатную плату) с аппаратной реализацией новых российских криптографических стандартов ГОСТ Р 34.10-2012 и ГОСТ Р 34.11-2012. С их помощью можно формировать и проверять усиленную квалифицированную электронную подпись (ЭП), осуществлять строгую двухфакторную аутентификацию, обеспечивать целостность передаваемых данных с помощью шифрования и имитовставки, а также безопасно хранить пользовательские данные (цифровые сертификаты, ключевые контейнеры программных СКЗИ, пароли и т.д.);</li>
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">JaCarta ГОСТ</a> —  USB-токены и смарт-карты с аппаратной реализацией российских криптографических стандартов ГОСТ Р 34.10-2001 и ГОСТ Р 34.11-1994. С их помощью можно формировать и проверять усиленную квалифицированную ЭП, осуществлять строгую двух- или трёхфакторную аутентификацию, а также безопасно хранить пользовательские данные;</li>
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-pki'}) }}">JaCarta PKI</a> — USB-токены и смарт-карты с аппаратной реализацией зарубежных криптографических стандартов (AES, DES, 3DES, RSA, SHA и др.). С их помощью можно осуществлять строгую двухфакторную аутентификацию, формировать и проверять усиленную ЭП, а также безопасно хранить пользовательские данные;</li>
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-pki-bio'}) }}">JaCarta PKI/BIO</a> — USB-токены и смарт-карты с аппаратной реализацией зарубежных криптографических стандартов (AES, DES, 3DES, RSA, SHA и др.) и возможностью использовать  отпечаток пальца в качестве второго или третьего фактора аутентификации. С их помощью можно осуществлять строгую двух- или трёхфакторную аутентификацию, формировать и проверять усиленную ЭП, а также безопасно хранить пользовательские данные;</li>
                </ul>
            </div>
            <div class="col">
                <ul class="families">
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-pro'}) }}">JaCarta PRO</a> — USB-токены и смарт-карты с аппаратной реализацией зарубежных криптографических стандартов (DES, 3DES, RSA, SHA и др.) и возможностью работать в инфраструктуре, предназначенной для устройств eToken PRO (Java). С их помощью можно осуществлять строгую двухфакторную аутентификацию, формировать и проверять усиленную ЭП, а также безопасно хранить пользовательские данные;</li>
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-webpass'}) }}">JaCarta WebPass</a> — USB-токены с кнопкой на корпусе, предназначенные для генерации одноразовых паролей, безопасного хранения сложного многоразового пароля и его подстановки в экранные формы по нажатию кнопки на токене, а также запуска браузера и автоматического перехода по сохраненному адресу сайта;</li>
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-u2f'}) }}">JaCarta U2F</a> — USB-токены с кнопкой на корпусе, предназначенные для использования в качестве второго фактора при парольной аутентификации конечных пользователей массовых онлайн-сервисов по стандарту FIDO U2F (социальные сети, почтовые сервисы и т.д.);</li>
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-lt'}) }}">JaCarta LT</a> — USB-токены и смарт-карты без встроенной криптографии для безопасного хранения ключей, ключевых контейнеров СКЗИ, профилей и паролей пользователей;</li>
                    <li><a href="{{ path('catalog:product', {'product': 'jacarta-id'}) }}">"Электронное удостоверение JaCarta"</a> — универсальная смарт-карта, объединяющая в себе функциональность нескольких карт и пропусков: средства аутентификации и ЭП, защищенного хранилища пользовательских данных, банковской карты, пропуска (с помощью RFID-меток) и обычного удостоверения сотрудника (бейджа).</li>
                </ul>
            </div>
        </div>

        <p>Возможна поставка комбинированных моделей JaCarta, объединяющих в себе возможности нескольких базовых моделей (например, JaCarta-2 PKI/ГОСТ).</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q2">Какие форм-факторы устройств семейства JaCarta поставляет "Аладдин Р.Д."?</h3>

        <p>Устройства JaCarta выпускаются в нескольких форм-факторах:</p>
        <ul>
            <li>смарт-карта (по стандарту ISO 7816);</li>
            <li>USB-токен в корпусе Nano;</li>
            <li>USB-токен в корпусе XL (с колпачком);</li>
            <li>USB-токен с кнопкой на корпусе (для USB-токенов JaCarta WebPass и JaCarta U2F);</li>
            <li>MicroUSB-токен;</li>
            <li>SIM-карты (для устройств JaCarta-2 ГОСТ);</li>
            <li>Secure MicroSD;</li>
            <li>чипы для монтажа на печатную плату (для устройств JaCarta-2 ГОСТ).</li>
        </ul>
        <p>Большинство форм-факторов позволяют совмещать в себе несколько функций, что даёт возможность сократить число ключевых носителей пользователя, реализуя необходимые функции в одном устройстве (например, двухфакторная аутентификация и усиленная квалифицированная ЭП в устройстве JaCarta-2 ГОСТ).</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q3">JaCarta — почему выбрано такое название?</h3>

        <p>JaCarta — производное от названия современной смарт-карточной технологии Java Card. Этим мы хотим подчеркнуть ключевую особенность наших продуктов — ориентацию на современные технологии и высокий уровень безопасности. В устройствах JaCarta применяются смарт-карточные микроконтроллеры, имеющие защиту от клонирования, взлома, физических, логических, статистических и других видов атак, а также специализированная операционная система (ОС) микроконтроллера. Высокие защитные качества микроконтроллеров и ОС подтверждаются сертификатом соответствия профилю защиты Security IC Platform Protection Profile (EAL 5+), а также и сертификатами ФСТЭК России и ФСБ России.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q4">JaCarta — чья это разработка?</h3>

        <p>Устройства JaCarta разработаны компанией "Аладдин Р.Д.", соответственно, все права на продукты и товарный знак принадлежат нам. При создании устройств JaCarta и их дальнейшем развитии мы использовали опыт, накопленный нами за более чем 20 лет работы на российском рынке информационной безопасности. При разработке ставилась задача не "изобретать велосипед", а брать лучшие современные технологии, доступные на мировом ИТ-рынке, и сотрудничать с технологическими лидерами. Нашими партнёрами по разработке и производству устройств JaCarta стали:</p>
        <ul>
            <li>NXP Semiconductors — один из крупнейших мировых производитель полупроводников;</li>
            <li>VASCO (США) — технологический лидер по производству ОТР-токенов, криптокалькуляторов и технологии аутентификации.</li>
        </ul>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q5">JaCarta — клон устройств линейки ID Protect производства NXP (ранее — Athena Smartcard
            Solutions)?</h3>

        <p>Нет. Компания Athena Smartcard Solutions (поглощена компанией NXP) выступала в качестве нашего технологического партнёра. Мы лицензировали у неё ОС для смарт-карт, компоненты технологии биометрической идентификации, совместно проводили ряд исследований и разработок, по лицензии и технологии этой компании производим ридеры для смарт-карт.</p>
        <p>При этом проектирование устройств JaCarta проводилось нами самостоятельно. Например, дизайн USB-токенов JaCarta, разработанный в "Аладдин Р.Д.", оказался настолько удачным, что наши иностранные коллеги решили использовать его для собственной линейки токенов ID Protect, которая всё ещё продаётся на зарубежных рынках. По этим причинам USB-токены JaCarta и ID Protect очень похожи друг на друга и имеют общие элементы. Это нормальная мировая практика технической кооперации, и никакие права двух компаний нарушены не были.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q6">JaCarta — клон токенов eToken?</h3>

        <p>Нет. Токены JaCarta — независимая разработка, права на которую принадлежат компании "Аладдин Р.Д.". При их создании не нарушались какие-либо патенты и права компании Aladdin Software Solutions (позднее поглощена компанией SafeNet Inc., которая затем стала частью корпорации Gemalto). В JaCarta применяются другие смарт-карточные микроконтроллеры и другие апплеты, хотя могут использоваться похожие компоненты третьих производителей (например, Athena OS). Токены JaCarta сертифицированы ФСТЭК России и ФСБ России как новые устройства, не связанные с семейством токенов eToken.</p>
        <p>В рамках программы импортозамещения мы также создали токены JaCarta PRO, работающие в режиме обратной совместимости с программным обеспечением (ПО) для eToken PRO (Java). При этом патент на апплет PRO, обеспечивающий эту совместимость, принадлежит компании "Аладдин Р.Д.". При разработке апплета PRO не были использованы исходные коды, или каким-либо образом нарушена чужая интеллектуальная собственность.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q7">Работает ли JaCarta в инфраструктуре, созданной для eToken PRO (Java)?</h3>

        <p>Если у вас есть потребность в переходе с токенов eToken PRO (Java) на токены JaCarta, но при этом нет желания отказываться от сопутствующего ПО, которое используется в вашей организации, мы рекомендуем покупать токены линейки JaCarta PRO. Эти устройства поддерживают режим обратной совместимости с ПО для устройств eToken PRO (Java), что позволяет использовать уже существующую инфраструктуру и осуществлять плавный переход на устройства JaCarta.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q8">Что будет с продажами устройств семейства eToken?</h3>

        <p>Продажи токенов eToken PRO (Java) компанией "Аладдин Р.Д." прекращены с 1 апреля 2017 года, токенов eToken ГОСТ — с 1 декабря 2017 года. Это решение вызвано прекращением поставок и поддержки устройств eToken PRO (Java) производителем — компанией Gemalto, наличием собственного современного аналога — токенов JaCarta, а также окончанием срока действия российских стандартов криптографической защиты информации ГОСТ Р 34.11-94 и ГОСТ Р 34.10-2001, использующихся в изделиях линеек eToken ГОСТ и JaCarta ГОСТ, и выпуском новых сертифицированных изделий семейства JaCarta-2 ГОСТ с аппаратной реализацией СКЗИ "Криптотокен 2 ЭП", в которых поддерживаются как старые стандарты формирования ЭП и функции хэширования (для обеспечения преемственности и совместимости на переходный период), так и новые ГОСТ Р 34.10-2012 и ГОСТ Р 34.11-2012 (сертификат соответствия ФСБ России № СФ/124 3112).</p>
        <p>Все обязательства по технической поддержке eToken PRO (Java) и eToken ГОСТ, взятые на себя компанией "Аладдин Р.Д.", будут выполнены в полном объёме. Ознакомиться с условиями окончания продаж и поддержки токенов eToken PRO (Java) и eToken ГОСТ, а также с продуктами, предлагаемыми им на замену, можно в документе "<a href="https://www.aladdin-rd.ru/public/files/EOL_eToken_PRO_eToken_eToken GOST_v5_1.pdf">Извещение о планах прекращения продажи, поддержки и сопровождения USB-токенов и смарт-карт семейства eToken PRO (Java), eToken и СКЗИ "Криптотокен" в составе изделий eToken ГОСТ</a>".</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q9">Есть ли в JaCarta реализация новых ГОСТов 2012 года?</h3>

        <p>Поддержка новых криптографических алгоритмов ГОСТ Р 34.10-2012 и ГОСТ Р 34.11-2012 аппаратно реализована в новом поколении USB-токенов, смарт-карт JaCarta-2 ГОСТ. Устройства JaCarta-2 ГОСТ сертифицированы ФСБ России (сертификат соответствия <a href="{{ path('download', {'uuid': '5a9e0f7f-525e-4e8e-b431-204c38cca833'}) }}">№ СФ/124-3112</a>) и доступны для заказа.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q10">Какие сертификаты есть у семейства JaCarta?</h3>

        <p>Ознакомиться с полным перечнем сертификатов на устройства JaCarta можно на странице "<a href="{{ path('catalog:product', {'product': 'certified'}) }}">Сертифицированные продукты</a>".</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q12">Что такое ПК "Единый Клиент JaCarta"?</h3>

        <p>"Единый Клиент JaCarta" — программный комплекс (ПК), предназначенный для работы со всеми моделями USB-токенов и смарт-карт <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">JaCarta</a> и eToken и предоставляющий пользователям и администраторам простой и удобный интерфейс для проведения операций по настройке токенов (инициализация, смена PIN-кода, разблокировка, автоматическое обновление, просмотр хранимых объектов и т.д.).</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q13">Что такое "сертифицированная версия ПК "Единый Клиент JaCarta"?</h3>

        <p>ПК "Единый Клиент JaCarta" сертифицирован ФСТЭК России в составе ПК аутентификации и безопасного хранения информации пользователей JaCarta версии 1.5, что подтверждается сертификатом соответствия ФСТЭК России <a href="{{ path('download', {'uuid': 'ca2e6a34-b1fc-4d67-b5ed-ea384ffca263'}) }}">№ 3449</a>, выданным 7 сентября 2015 года. В рамках сертификации проведены испытания ПК "Единый Клиент JaCarta" версии 2.6. В 2017 году проведён инспекционный контроль ПК "Единый Клиент JaCarta" версии 2.11. Сертифицированная версия ПК "Единый Клиент JaCarta" поставляется только в составе комплекта (Media Kit).</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q14">Что поставляется в комплекте (Media Kit)?</h3>

        <p>В комплекте (Media Kit) находится верифицированный дистрибутив ПК "Единый Клиент JaCarta" и необходимая документация.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q15">Как получить обновлённую сертифицированную версию ПК "Единый Клиент JaCarta" версии 2.11? Какие предусмотрены условия для получения дистрибутива сертифицированной версии ПК "Единый Клиент JaCarta"?</h3>

        <p>Если ранее приобретались устройства с сертификатом соответствия ФСТЭК России № 3449, то можно приобрести обновлённый комплект (Media Kit) JC-MediaKit-4. Для заказа комплекта нужно передать в Коммерческий департамент компании "Аладдин Р.Д." информацию о ранее приобретённых изделиях — например, название заказчика, дату покупки или номера средства защиты информации (СЗИ).</p>
        <p>В любом другом случае необходимо приобрести токены c комплектом (Media Kit) и сертификатом соответствия ФСТЭК России <a href="{{ path('download', {'uuid': 'ca2e6a34-b1fc-4d67-b5ed-ea384ffca263'}) }}">№ 3449</a>.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q16">Дайте ссылку на дистрибутив сертифицированной версии ПК "Единый Клиент JaCarta" 2.11</h3>

        <p>Дистрибутив сертифицированной версии ПК "Единый Клиент JaCarta" не может быть выслан по электронной почте или загружен через сеть Интернет. В соответствии с требованиями к поставкам сертифицированной продукции, утверждёнными регулирующим органом, заказчик должен получить физический носитель с верифицированной копией сертифицированного ПО, а производитель сертифицированного ПО обязан вести учёт поставленной продукции.</p>

        {{ block('back_to_top') }}

        <h3 class="h2" id="q17">Ранее мы уже приобретали комплект (Media Kit) с сертифицированной версией ПК "Единый Клиент JaCarta" по сертификату соответствия ФСТЭК России № 3449. Нужно ли нам обновлять версию ПК "Единый Клиент JaCarta"?</h3>

        <p>Необходимость обновления сертифицированной версии ПК "Единый Клиент JaCarta" определяется конечным заказчиком, исходя из регламентных и руководящих документов по информационной безопасности.</p>

        {{ block('back_to_top') }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ include('site/sidebar.html.twig') }}
{% endblock %}

{% block back_to_top %}
    <ul class="list-unstyled list-icons">
        <li>
            <ion-icon name="arrow-up"></ion-icon>
            <!--suppress HtmlUnknownAnchorTarget -->
            <a href="#main" class="scrollable">Наверх</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/catalog-jacarta-faq') }}
{% endblock %}