{% extends 'catalog.html.twig' %}

{% block title %}Secret Disk Server NG (сертифицированная версия){% endblock %}

{% block meta_description %}
    Защита конфиденциальной информации и персональных данных на серверах
{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p class="font-weight-bold">{{ block('meta_description') }}</p>
            <p>Комплекс защиты конфиденциальной информации и персональных данных на сервере от несанкционированного доступа, копирования, повреждения, кражи или неправомерного изъятия</p>
            {% set features = [
                "Защита информации от несанкционированного доступа",
                "Двухфакторная аутентификация администратора безопасности с помощью электронного ключа для доступа к настройкам сервера",
                "Прозрачная работа для пользователя",
                "Возможность использования сертифицированных криптопровайдеров",
                "Соответствие требованиям ФЗ-152 РФ \"О персональных данных\"",
            ] %}
            <ul class="list-unstyled list-icons small">
                {% for feature in features %}
                    <li>
                        <ion-icon name="checkmark" class="text-primary"></ion-icon>
                        <span>{{ feature | raw }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/secret_disk/Box_Media_Kit_SDSS.png') }}" class="img-fluid" style="max-height: 300px" alt="Secret Disk Server NG - {{ block('meta_description') }}" />
            <div class="font-weight-normal small my-4">
                Зарегистрировано в реестре российских программ<br>для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/73533/" target="_blank">№ 519</a>)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <div class="small text-center">
                Для получения дистрибутива сертифицированной версии<br/>Secret Disk Server NG обратитесь в техническую поддержку
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            <p>Сертифицированная версия Secret Disk Server NG основана на версии Secret Disk Server NG 3.8 и может быть использована при создании и применении автоматизированных систем до класса защищённости 1Г, а также для защиты информации в ИСПДн до 1 класса включительно. Соответствует требованиям классификации СЗИ по 4-му уровню контроля НДВ. </p>
            <p><a href="{{ path('download', {'uuid': '5c52db02-d518-44bf-9018-7eddd0b71bd2'}) }}">Сертификат ФСТЭК России №3358</a> от 6 марта 2015 г. действителен до 6 марта 2021 г.</p>
            <h2>Назначение сертифицированной версии Secret Disk Server NG</h2>
            <p>Сертифицированная версия предназначена для защиты конфиденциальной информации и персональных данных в информационных системах органов государственной власти, государственных организаций и других предприятий.  Secret Disk Server NG может быть использован как самостоятельное решение, а также как элемент комплексной системы для решения следующих задач:</p>
            <ul><li>защита конфиденциальных данных на серверах;</li>
                <li>сокрытие наличия конфиденциальной информации на серверах;</li>
                <li>обеспечение соответствия требованиям законодательства, в том числе 152-ФЗ РФ "О персональных данных".</li></ul>
            <h2>Особенности сертифицированной версии Secret Disk Server NG</h2>
            <ul>
                <li>Использование операционных систем Microsoft Server 2008 SP2/Server 2008 R2 SP1/Server 2012 32/64 бит.</li>
                <li>Использование сертифицированных моделей электронных ключей (входят в комплект поставки).</li>
                <li>Сертифицированная версия не содержит криптографических преобразований информации и реализует функции контроля доступа.</li>
            </ul>
        </div>
    </div>
{% endblock %}