{% extends 'main.html.twig' %}

{% block title %}О компании{% endblock %}
{% block meta_description %}Компания "Аладдин Р.Д." - ведущий российский разработчик и поставщик
    средств аутентификации, продуктов и решений для обеспечения информационной безопасности и защиты
    конфиденциальных данных.{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-9">
            Компания "<span class="text-nowrap">Аладдин Р.Д.</span>" – ведущий российский разработчик и поставщик
            средств аутентификации, продуктов и решений для обеспечения информационной безопасности и защиты
            конфиденциальных данных.
        </div>
    </div>
{% endblock %}

{% block content %}

    <p>Российская компания "<span class="text-nowrap">Аладдин Р.Д.</span>", основанная в 1995 году, является признанным
        экспертом и лидером по средствам надёжной двухфакторной аутентификации пользователей в корпоративных ресурсах,
        на Web-порталах и в облачных сервисах. Решения и технологии компании занимают доминирующее положение на рынке.
    </p>

    <h3>Основные направления работы</h3>
    <ul>
        <li><a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">USB-токены и cмарт-карты</a> на базе технологии Java Card с
            российской криптографией "на борту", решения на их базе для PKI с поддержкой биометрии, платёжных
            приложений,
            система централизованного управления токенами;
        </li>
        <li><a href="{{ path('catalog:product', {'product': 'cryptobd'}) }}">Защита баз данных</a> и персональных данных,
            <a href="{{ path('catalog:product', {'product': 'secret_disk'}) }}">шифрование дисков, папок и съёмных носителей</a> с системой
            централизованного управления;
        </li>
        <li>Строгая аутентификация и <a href="{{ path('catalog:product', {'product': 'jc-webclient'}) }}">электронная подпись для
                Web-порталов</a>, электронных сервисов, мобильных платформ (iOS, Android).
        </li>
    </ul>

    <p>За более чем 20 лет работы практически каждый выводимый на рынок продукт компании заслуживал особого внимания и
        становился лидером в своём сегменте. Во многих компаниях и Федеральных структурах продукты и решения компании
        "<span class="text-nowrap">Аладдин Р.Д.</span>" стали стандартом де-факто. </p>

    <h3>Система менеджмента качества</h3>
    <p>В 2012 году компания прошла сертификацию менеджмента качества продукции на соответствие стандарту
        <span class="text-nowrap">ГОСТ Р ИСО 9001-2008</span> (<span class="text-nowrap">ISO 9001:2008</span>). В 2013
        году
        "<span class="text-nowrap">Аладдин Р.Д.</span>" успешно прошла сертификацию менеджмента качества продукции на
        соответствие новому стандарту <span class="text-nowrap">ГОСТ ISO 9001-2011</span>, пришедшего на замену
        стандарту
        <span class="text-nowrap">ГОСТ Р ИСО 9001-2008</span>, а в 2014 подтвердила результаты. Согласно итогам
        инспекционного аудита, принятая в "<span class="text-nowrap">Аладдин Р.Д.</span>" система управления
        качеством обеспечивает прозрачность всех бизнес-процессов и создаёт условия для стабильной и эффективной
        деятельности компании по созданию и выпуску качественной продукции.</p>

    <p>В июле 2018 года компания успешно прошла ресертификацию менеджмента качества продукции на соответствие стандарту
        <span class="text-nowrap">ГОСТ ISO 9001-2015</span> (<span class="text-nowrap">ISO 9001:2015</span>) и получила
        <a class="text-nowrap" href="{{ path('download', {'uuid': '4d5f3a19-7fe5-4a60-bb82-1f06a0cf3ebc'}) }}">
            сертификат соответствия</a>.</p>

    <h3>Рейтинги</h3>
    <p>Деятельность компании "<span class="text-nowrap">Аладдин Р.Д.</span>" высоко оценивается независимыми
        рейтинговыми агентствами: </p>

    {% set ratings = include('company/ratings.json.twig') | json_decode %}

    <table class="table">
        <thead>
        <tr>
            <th>Агентство</th>
            <th>Рейтинг</th>
            <th>Позиция</th>
            <th>Год</th>
        </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr>
                <td class="text-nowrap">{{ rating[0] }}</td>
                <td>
                    <a href="{{ rating[4] }}" target="_blank">
                        {{ rating[1] }}
                    </a>
                </td>
                <td class="text-nowrap">{{ rating[2] }}</td>
                <td>{{ rating[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Уникальный опыт и знания</h3>
    <p>За более чем 20 лет работы на рынке информационной безопасности компания
        "<span class="text-nowrap">Аладдин Р.Д.</span>" приобрела уникальные знания и опыт в области защиты информации,
        технологий надёжной аутентификации и безопасного администрирования информационных систем.</p>
    <p>Решения "<span class="text-nowrap">Аладдин Р.Д.</span>" для шифрования информации являются технологическими
        лидерами российского рынка информационной безопасности. Этим обусловлено их широкое использование в проектах по
        внедрению систем защиты персональных данных в российских государственных и коммерческих структурах.</p>

    <h3>Основные продукты</h3>
    <ul>
        <li>
            <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">JaCarta</a> — новое поколение смарт-карт, USB-, MicroUSB- и
            Secure MicroSD-токенов для строгой аутентификации, электронной подписи и безопасного хранения ключей и
            цифровых сертификатов, разработанная на основе самых современных технологий в сфере информационной
            безопасности (<em>о JaCarta в <a href="https://ru.wikipedia.org/wiki/JaCarta" target="_blank">
            Wikipedia</a></em>);
        </li>
        <li><a href="{{ path('catalog:product', {'product': 'jms'}) }}">JaCarta Management System</a> (JMS) – российская система
            управления жизненным циклом средств аутентификации и электронной подписи, полноценно поддерживающая новое
            поколение JaCarta, а также eToken;
        </li>
        <li><a href="{{ path('catalog:product', {'product': 'securlogon'}) }}">JaCarta SecurLogon</a> – программное решение для
            простого и быстрого перехода от обычных паролей к двухфакторной аутентификации при входе в ОС Windows и
            доступе к сетевым ресурсам по токену JaCarta;
        </li>
        <li><a href="{{ path('catalog:product', {'product': 'secret_disk'}) }}">Secret Disk</a> — линейка продуктов для защиты
            конфиденциальной информации и персональных данных, хранящихся и обрабатываемых на персональном компьютере,
            ноутбуке или сервере;
        </li>
        <li>"<a href="{{ path('catalog:product', {'product': 'cryptobd'}) }}">Крипто БД</a>" — система защиты информаци от утечек из СУБД
            Oracle, MS SQL и Tibero с использованием отечественных стандартов криптографии (ГОСТ 28147-89).
        </li>
    </ul>

    <h3>Персонал</h3>
    <p>Основу коллектива составляют высококвалифицированные специалисты в области защиты информации и организации
        бизнеса, прошедшие обучение и имеющие опыт работы в ведущих международных и российских ИТ-компаниях.</p>
    <p>Департамент разработки и тестирования продуктов (R&amp;D) компании "<span class="text-nowrap">Аладдин Р.Д.</span>"
        сосредоточил в себе ценную экспертизу по выпуску собственных продуктов (более 20) и встраиванию российских
        средств криптографической защиты информации (СКЗИ) в продукты западных производителей. Департамент участвует в
        проектах отдела консалтинга, помогая технологическим партнёрам-разработчикам создавать лучшие продукты
        в области ИБ.</p>

    <h3>Информационная безопасность</h3>
    <p>Информационная безопасность "<span class="text-nowrap">Аладдин Р.Д.</span>" достигается в результате деятельности
        всех работников компании. Вопросы организации и проведения работ по защите информации, положения об
        инфраструктурных элементах системы обеспечения информационной безопасности, разрешительной системе доступа
        исполнителей к информации, а также технические требования к составляющим элементам системы защиты информации
        излагаются в организационно-распорядительных и внутренних нормативных документах, являющихся составной частью
        системы защиты информации компании "<span class="text-nowrap">Аладдин Р.Д.</span>".</p>
    <p>Политика руководства Компании в отношении обработки и защиты персональных данных отражена в Положении
        "<a href="{{ path('download', {'uuid': '7fc7b4d2-c267-48ec-8bb7-ee9f789e9771'}) }}">О порядке обработки
            персональных данных в ЗАО "<span class="text-nowrap">Аладдин Р.Д.</span>"</a> и базируется на строгом
        выполнении требований законодательства Российской Федерации, в частности Федерального закона №152-ФЗ
        "О персональных данных".</p>

    <h3>Лицензии</h3>
    <p>Компания "<span class="text-nowrap">Аладдин Р.Д.</span>" имеет все необходимые
        <a href="{{ path('company:licenses') }}">лицензии</a> ФСТЭК России и ФСБ России на деятельность в области
        разработки, производства, услуг, распространения средств защиты и защищённых систем; на осуществление работ,
        связанных с использованием сведений, составляющих государственную тайну.</p>

    <h3>Партнёрство</h3>
    <p>Компания "<span class="text-nowrap">Аладдин Р.Д.</span>" является партнёром ведущих мировых вендоров:
        <a href="http://www.nxp.com/" target="_blank" rel="nofollow">NXP</a>,
        <a href="http://www.microsoft.com/" target="_blank" rel="nofollow">Microsoft</a>,
        <a href="http://www.apple.com/ru/" target="_blank" rel="nofollow">Apple</a>,
        <a href="http://www.oracle.com/ru/corporate/index.html" target="_blank" rel="nofollow">Oracle</a>,
        <a href="http://www.mastercard.com/ru/consumer/index.html" target="_blank" rel="nofollow">MasterCard</a> и др.,
        а также тесно сотрудничает со многими российскими компаниями, специализирующимися в области разработки и
        поставки средств информационной безопасности и систем PKI. Уровень партнёрских отношений подтверждается
        сертификатами, в числе которых Apple Developer, FIDO Alliance Associate Member.</p>
    <p>Компания "<span class="text-nowrap">Аладдин Р.Д.</span>" имеет и активно развивает одну из самых больших в России
        собственную <a href="{{ path("partners:search", {"type": "business"}) }}">партнёрскую сеть</a>, в которую входят крупнейшие
        разработчики, системные интеграторы, дистрибьюторы.</p>

    <h3>Ассоциации и альянсы</h3>
    <p>Компания "<span class="text-nowrap">Аладдин Р.Д.</span>" состоит в следующих организациях:</p>
    <ul>
        <li>Ассоциация производителей и поставщиков систем информационной безопасности
            (<a href="http://new.azi.ru/index.html" target="_blank" rel="nofollow">АЗИ</a>);
        </li>
        <li>Ассоциация Предприятий Компьютерных и Информационных Технологий
            (<a href="http://www.apkit.ru/" target="_blank" rel="nofollow">АП КИТ</a>);
        </li>
        <li>Некоммерческое партнёрство поставщиков программных продуктов
            (<a href="http://www.appp.ru/" target="_blank" rel="nofollow">НП ППП</a>);
        </li>
        <li>Ассоциация Развития Медицинских Информационных Технологий
            (<a href="http://www.armit.ru/" target="_blank" rel="nofollow">АРМИТ</a>);
        </li>
        <li>Ассоциация Разработчиков Программных Продуктов "Отечественный софт"
            (<a href="http://www.arppsoft.ru/" target="_blank" rel="nofollow">АРПП "Отечественный софт"</a>);
        </li>
        <li>Ассоциация <a href="https://fidoalliance.org/" target="_blank" rel="nofollow">FIDO Alliance</a>
            (Fast IDentity Online);
        </li>
        <li>Ассоциация "<a href="http://tizen.ru/" target="_blank">Доверенная платформа</a>";</li>
        <li>Некоммерческое Партнёрство <a href="http://www.russoft.ru/">РУССОФТ</a>.</li>
    </ul>

    <h3>Обучение и консалтинг</h3>

    <p>Специалистами компании разработаны и в течение нескольких лет читаются авторизованные курсы по системам защиты
        конфиденциальной информации, обеспечению безопасности в сетях, технологиям аутентификации и защиты программ и
        баз данных (<a href="{{ path('support:page', {'page': 'training'}) }}">Список курсов</a>).</p>

    <p>Партнёры и заказчики компании могут пройти обучение в авторизованных учебных центрах.</p>
{% endblock %}

{% block sidebar %}
    {{ include('company/_sidebar.html.twig') }}
{% endblock %}