{% extends 'main.html.twig' %}

{% block title %}Лицензии и сертификаты{% endblock %}

{% block lead %}
    <p>Компания "Аладдин Р.Д." имеет все необходимые лицензии ФСТЭК России и ФСБ России на деятельность в области
        разработки, производства, услуг, распространения средств защиты и защищенных систем; на осуществление работ,
        связанных с использованием сведений, составляющих государственную тайну, а также необходимые разрешения ФСБ,
        лицензии ФСБ и Минэкономразвития России на импорт/экспорт шифросредств.</p>
{% endblock %}

{% set links = [
    path('download', {'uuid': '24889660-a7d9-4a1f-8550-118553e9ad2f'}),
    path('download', {'uuid': '2c831918-fb6b-4190-ab26-739b9bbb382e'}),
    path('download', {'uuid': '87a506f8-f65a-41d3-bf2c-4924659ae949'}),
    path('download', {'uuid': '98431a7c-b3ef-4b22-bad2-d020a0a60af3'}),
    path('download', {'uuid': '2d125136-1697-4bc1-b024-13433fd1ac15'}),
    path('download', {'uuid': '797f14f4-4b64-4d1b-82af-11a4518adff8'}),
    path('download', {'uuid': '4d5f3a19-7fe5-4a60-bb82-1f06a0cf3ebc'})
] %}

{% block content %}
    <div class="alert alert-info">
        Вы можете <a href="mailto:licence@aladdin-rd.ru" target="_blank">запросить</a> копию лицензии, указав в теле
        письма ее название и номер.
    </div>

    <h2 class="h3">Лицензии ФСТЭК России</h2>

    <ul>
        <li><a href="{{ links[0] }}" class="text-nowrap">Лицензия ФСТЭК России № 3442</a>
            (<span class="text-nowrap">от 10.11.2017</span>)<br/> На деятельность по разработке, производству, 
            реализации, установке, монтажу, наладке, испытанию, ремонту и сервисному обслуживанию 
            средств защиты информации. </li>

        <li><a href="{{ links[1] }}" class="text-nowrap">Лицензия ФСТЭК России № 0037</a>
            (<span class="text-nowrap">от 18.02.2003</span>)<br/> На деятельность по разработке и производству средств 
            защиты конфиденциальной информации. </li>

        <li><a href="{{ links[2] }}" class="text-nowrap">Лицензия ФСТЭК России № 0054</a>
            (<span class="text-nowrap">от 18.02.2003</span>)<br/> На деятельность по технической защите 
            конфиденциальной информации. </li>

    </ul>

    <h2 class="h3">Лицензии ФСБ России</h2>

    <ul>
        <li><a href="{{ links[3] }}" class="text-nowrap">Лицензия ФСБ России №&nbsp;30419</a>
            (<span class="text-nowrap">от 16.08.2017</span>)<br/> На осуществление работ, связанных с использованием
            сведений, составляющих государственную тайну. Степень секретности разрешённых к использованию
            сведений — секретно. </li>

        <li>
            <a href="{{ links[4] }}" class="text-nowrap">Лицензия ФСБ России №&nbsp;12632H</a>
            (<span class="text-nowrap">от 20.12.2012</span>)<br/> На осуществление разработки, производства,
            распространения шифровальных (криптографических) средств, информационных систем и телекоммуникационных 
            систем, защищённых с использованием шифровальных (криптографических) средств, выполнения работ, оказания 
            услуг в области шифрования информации, технического обслуживания шифровальных (криптографических) средств 
            (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, 
            информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных 
            (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или 
            индивидуального предпринимателя). </li>
    </ul>

    <h2 class="h3">Лицензия Министерства обороны Российской Федерации</h2>
    <ul>
        <li><a href="{{ links[5] }}">Лицензия Министерства обороны <span class="text-nowrap">Российской Федерации 
            № 1384</span></a> (<span class="text-nowrap">от 22.08.2016</span>)<br/> На осуществление работ по 
            проектированию, разработке, производству, реализации, установке, монтажу, наладке, испытаниям, ремонту, 
            сервисному обслуживанию средств защиты информации на всей территории Российской Федерации.</li>
    </ul>

    <h2 class="h3">Другие лицензии</h2>
    <ul>
        <li>Аккредитация на работу в области ИТ <br/> Выписка из реестра аккредитованых организаций,
            осуществляющих деятельность в области информационных технологий. </li>
    </ul>

    <h2 class="h3">Сертификаты</h2>

    <p>Компания "Аладдин Р.Д." уделяет особое внимание сертификации своих продуктов и решений на соответствие 
        требованиям безопасности информации, а также совместимости с продуктами сторонних производителей. Ознакомиться 
        с сертификатами вы можете в <a href="{{ path('catalog:product', {'product': 'certified'}) }}">каталоге продуктов</a> компании и разделе
        <a href="{{ path('partners:solutions') }}">Решения с технологическими партнёрами</a>.</p>

    <h2 class="h3">Сертификат соответствия системе качества <span class="text-nowrap">ГОСТ Р ИСО 9001-2015</span></h2>
    <p>Система менеджмента качества, принятая в компании "Аладдин Р.Д.", с 2012 г. ежегодно проходит инспекционный
        контроль на соответствие требованиям стандарта <span class="text-nowrap">ГОСТ Р ИСО 9001</span>. В 2018 году
        она прошла ресертификацию на соответствие требованиям стандарта <a class="text-nowrap" href="{{ links[6] }}">
        ГОСТ Р ИСО 9001-2015</a>, тем самым подтвердив прозрачность всех бизнес-процессов и наличие условий для
        стабильной и эффективной деятельности компании по созданию качественной продукции. Полученный сертификат
        соответствия действителен до 20 июля 2021 года.</p>

{% endblock %}

{% block sidebar %}
    {{ include('company/_sidebar.html.twig') }}
{% endblock %}