<table id="reader-list">
    <colgroup>
        <col width="210" />
        <col />
    </colgroup>
    <tbody>
    <tr data-reader-type="all biometrical">
        <td>
            <a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Bio'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Combo"><img alt="ASEDrive IIIe Bio Combo, карт-ридер, cчитыватель смарт-карт, устройство чтения смарт-карт" src="{{ asset('images/catalog/readers/ASEDrive_IIIe_Bio_Combo_Preview.jpg') }}" /></a>
        </td>
        <td>
            <p><b><a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Bio'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Combo">ASEDrive IIIe Bio Combo –  повышенная безопасность и удобство</a></b></p>
            <p>Смарт-карт ридер ASEDrive IIIe Bio Combo со встроенным сканером отпечатка пальца предназначен для использования на стационарных рабочих местах, где предъявляются повышенные требования к уровню безопасности. Устройство позволяет обеспечить дополнительный уровень безопасности вплоть до введения трёхфакторной аутентификации для критически важных информационных систем, при этом повысить удобство работы пользователей со смарт-картой.</p>
            <p>Данный смарт-карт-ридер поддерживает работу с любыми смарт-картами, в том числе эмбоссированными и платёжными, обладает оригинальным волнообразным дизайном, удобной вертикальной загрузкой смарт-карты.</p>
        </td>
    </tr>

    <tr data-reader-type="all biometrical">
        <td>
            <a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Bio_Swipe'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Combo Swipe"><img alt="ASEDrive IIIe Bio Combo Swipe, карт-ридер, cчитыватель смарт-карт, устройство чтения смарт-карт" src="{{ asset('images/catalog/readers/asedrive_combo_bio_swipe_Preview.jpg') }}" /></a>
        </td>
        <td>
            <p><b><a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Bio_Swipe'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Combo Swipe">ASEDrive IIIe Bio Combo Swipe –  компактность, живучесть и повышенная безопасность</a></b></p>

            <p>Компактный смарт-карт ридер для стационарных ПК сочетает в одном корпусе swipe-сенсор для отпечатков пальцев и считыватель смарт-карт. Устройство предназначено для доступа в информационные системы компании, где предъявляются повышенные требования к уровню безопасности. </p>
            <p>Надёжная конструкция смарт-карт ридера обеспечивает долгий срок службы при высоких эксплуатационных нагрузках и исключает повреждение используемых смарт-карт. </p>
            <p>Устройство поддерживает работу с любыми смарт-картами, в том числе эмбоссированными и платёжными, имеет строгий дизайн.</p>

        </td>
    </tr>
    <tr data-reader-type="all biometrical keyboard">
        <td>
            <a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Keyboard_Bio'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Keyboard"><img alt="ASEDrive IIIe Bio Keyboard, карт-ридер, cчитыватель смарт-карт, устройство чтения смарт-карт" src="{{ asset('images/catalog/readers/ASEDrive_Keyboard_Bio_Preview.jpg') }}" /></a>
        </td>
        <td>
            <p><b><a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Keyboard_Bio'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Keyboard">ASEDrive IIIe Bio Keyboard – повышенная безопасность и экономия рабочего пространства </a></b></p>
            <p>Применение клавиатуры ASEDrive IIIe Bio Keyboard со встроенным смарт-карт ридером и биометрическим сканером отпечатков пальцев позволяет строить решения с многофакторной аутентификацией, не загромождая рабочее пространство. Метод биометрической идентификации используется вместо пароля смарт-карты или в сочетании с ним.</p>			</td>
    </tr>
    </tbody>
</table>