<table>
    <colgroup>
        <col width="210" />
        <col />
    </colgroup>
    <tbody>
    <tr data-reader-type="all compact">
        <td>
            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Mini'}) }}" title="Смарт-карт ридеры ASEDrive III USB Mini"><img alt="ASEDrive III USB Mini, карт-ридер, cчитыватель смарт-карт, устройство чтения смарт-карт" src="{{ asset('images/catalog/readers/ASEDrive_III_USB_Mini_Preview.jpg') }}" /></a>
        </td>
        <td>
            <p><b><a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Mini'}) }}" title="Смарт-карт ридеры ASEDrive III USB Mini">ASEDrive III USB Mini — компактный и удобный</a></b></p>
            <p>Смарт-карт ридер ASEDrive III USB Mini – удобный, лёгкий и компактный смарт-карт ридер. Идеально подходит для использования "мобильными" сотрудниками, работающими на ноутбуках и/или в стеснённом пространстве (в офисе, где используются узкие столы в качестве рабочих мест, в самолёте, автомобиле и пр.). Также данный смарт-карт ридер легко помещается в сумку или в карман одежды. Надёжная конструкция смарт-карт ридера обеспечивает длительный срок службы при малых и средних эксплуатационных нагрузках и исключает повреждение используемых смарт-карт.</p>
            <p>Устройство поддерживает работу с любыми смарт-картами, в том числе эмбоссированными и платёжными, имеет строгий дизайн.</p>
        </td>
    </tr>
    <tr data-reader-type="all compact">
        <td>
            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_IIIe'}) }}" title="Смарт-карт ридеры ASEDrive IIIe USB"><img alt="ASEDrive IIIe USB, карт-ридер, cчитыватель смарт-карт, устройство чтения смарт-карт" src="{{ asset('images/catalog/readers/ASEDrive_IIIe_USB_Preview.jpg') }}" /></a>
        </td>
        <td>
            <p><b><a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_IIIe'}) }}" title="Смарт-карт ридеры ASEDrive IIIe USB">ASEDrive IIIe USB – надёжный с горизонтальной загрузкой</a></b></p>
            <p>Считыватель контактных смарт-карт, карт памяти (memory card) и платёжных карт (EMV) с горизонтальной загрузкой карты, подключаемый к порту USB и обеспечивающий считывание и запись информации на карты.</p>
            <p>Надёжная конструкция смарт-карт ридера обеспечивает долгий срок службы при высоких эксплуатационных нагрузках и исключает повреждение используемых смарт-карт. </p>
            <p>Устройство поддерживает работу с любыми смарт-картами, в том числе эмбоссированными и платёжными, отличается строгим дизайном, а также имеет зону для нанесения Вашего логотипа.</p>
        </td>
    </tr>
    </tbody>
</table>