<table id="reader-list">
    <colgroup>
        <col width="210" />
        <col />
    </colgroup>
    <tbody>
    <tr data-reader-type="all keyboard">
        <td>
            <a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Keyboard'}) }}" title="Смарт-карт ридеры ASEDrive Keyboard"><img alt="ASEDrive Keyboard, карт-ридер, cчитыватель смарт-карт, устройство чтения смарт-карт" src="{{ asset('images/catalog/readers/ASEDrive_Keyboard_Preview.jpg') }}" /></a>
        </td>
        <td>
            <p><b><a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Keyboard'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Keyboard">ASEDrive IIIe Keyboard — экономия рабочего пространства</a></b></p>
            <p>Применение клавиатуры ASEDrive IIIe Keyboard со встроенным смарт-карт ридером позволяет сэкономить пространство на рабочем месте. Клавиатура имеет высоконадежную контактную мембрану, низкий уровень шума и низкий профиль срабатывания клавиш.</p>

        </td>
    </tr>
    <tr data-reader-type="all biometrical keyboard">
        <td>
            <a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Keyboard_Bio'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Keyboard"><img alt="ASEDrive IIIe Bio Keyboard, карт-ридер, cчитыватель смарт-карт, устройство чтения смарт-карт" src="{{ asset('images/catalog/readers/ASEDrive_Keyboard_Bio_Preview.jpg') }}" /></a>
        </td>
        <td>
            <p><b><a href="{{ url('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_Keyboard_Bio'}) }}" title="Смарт-карт ридеры ASEDrive IIIe Bio Keyboard">ASEDrive IIIe Bio Keyboard – повышенная безопасность и экономия рабочего пространства </a></b></p>
            <p>Применение клавиатуры ASEDrive IIIe Bio Keyboard со встроенным смарт-карт ридером и биометрическим сканером отпечатков пальцев позволяет строить решения с многофакторной аутентификацией, не загромождая рабочее пространство. Метод биометрической идентификации используется вместо пароля смарт-карты или в сочетании с ним.</p>			</td>
    </tr>
    </tbody>
</table>