<table id="reader-list">
    <colgroup>
        <col width="210" />
        <col />
    </colgroup>
    <tbody>
    <tr data-reader-type="all mobile">
        <td>
            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Apple_Dock'}) }}" title="Универсальный смарт-карт ридер с разъёмом Apple 30-pin"><img alt="универсальный смарт-карт ридер с разъёмом Apple 30-pin" src="{{ asset('images/catalog/readers/Apple_Dock_Reader.png') }}" width="150" /></a>
        </td>
        <td>
            <p><b><a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Apple_Dock'}) }}" title="Универсальный смарт-карт ридер с разъёмом Apple 30-pin">Универсальный смарт-карт ридер с разъёмом Apple 30-pin</a></b></p>
            <p>Лёгкий и компактный смарт-карт ридер iR301-U идеально подходит для работы со смарт-картами на устройствах iPhone или iPad, имеющих разъём Apple 30-pin. </p>
            <p>Смарт-карт ридер iR301-U может работать также с компьютерами и ноутбуками через USB-шнур.</p>
            <p><em>Рекомендуется руководителям, топ-менеджерам, клиентам ДБО для работы с электронными системами, сервисами и документами из любого места и в любое время.</em></p>
        </td>
    </tr>
    <tr data-reader-type="all mobile">
        <td>
            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Apple_Lighting'}) }}" title="Универсальный смарт-карт ридер с разъёмом Lightning"><img alt="универсальный смарт-карт ридер с разъёмом Lightning" src="{{ asset('images/catalog/readers/Lightning_Reader.png') }}" width="150" /></a>
        </td>
        <td>
            <p><b><a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Apple_Lighting'}) }}" title="Универсальный смарт-карт ридер с разъёмом Lightning">Универсальный смарт-карт ридер с разъёмом Lightning</a></b></p>
            <p>Для iOS-устройств с разъёмом Lightning мы предлагаем использовать смарт-карт ридер iR301-UL. Он лёгкий, компактный и выполнен в фирменном стиле мобильных Apple-устройств.</p>
            <p>Смарт-карт ридер iR301-UL может работать также с компьютерами и ноутбуками через USB-шнур.</p>
            <p><em>Рекомендуется руководителям, топ-менеджерам, клиентам ДБО для работы с электронными системами, сервисами и документами из любого места и в любое время.</em></p>
        </td>
    </tr>
    <tr data-reader-type="all mobile">
        <td>
            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'bR301'}) }}" title="Беспроводной смарт-карт ридер"><img alt="Беспроводной смарт-карт ридер" src="{{ asset('images/catalog/readers/Feitian_215_Wireless_Reader.png') }}" width="150" /></a>
        </td>
        <td>
            <p><b><a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'bR301'}) }}" title="Беспроводной смарт-карт ридер">Беспроводной смарт-карт ридер</a></b></p>
            <p>Применение беспроводного смарт-карт ридера bR301 обеспечивает возможность работы с двумя или более мобильными устройствами на базе Apple iOS и Android. Для подключения смарт-карты к мобильным устройствам ридер использует беспроводную технологию Bluetooth.</p>
            <p><em>Рекомендуется мобильным сотрудникам, клиентам систем онлайн-банкинга и других сервисов для работы с электронными системами, сервисами и документами со смартфонов и планшетов на базе Apple iOS или Android.</em></p>
        </td>
    </tr>
    <tr data-reader-type="all mobile">
        <td align="center">
            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Case_Plastic'}) }}" title="Пластиковый чехол для iPad mini со встроенным смарт-карт ридером"><img alt="Пластиковый чехол для iPad mini со встроенным смарт-карт ридером" src="{{ asset('images/catalog/readers/Apple_iPad_Plastic_Case_Reader.png') }}" width="80" /></a>
        </td>
        <td>
            <p><b><a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Case_Plastic'}) }}" title="Пластиковый чехол для iPad mini со встроенным смарт-карт ридером">Пластиковый чехол для iPad mini со встроенным смарт-карт ридером</a></b></p>
            <p>Пластиковый чехол-ридер выполнен в виде дополнительного лёгкого корпуса к iPad mini со встроенным смарт-карт ридером и обеспечивает максимальное удобство при работе со смарт-картой.</p>
            <p><em>Рекомендуется руководителям для работы с защищённой почтой, электронным документооборотом, системами ДБО и другими сервисами из любого места и в любое время.</em></p>
        </td>
    </tr>
    <tr data-reader-type="all mobile">
        <td align="center">
            <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Case_Leather'}) }}" title="Кожаный чехол со смарт-карт ридером"><img alt="Кожаный чехол со смарт-карт ридером" src="{{ asset('images/catalog/readers/Apple_iPad_Leather_Cover_Reader.jpg') }}" width="150" /></a>
        </td>
        <td>
            <p><b><a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'Case_Leather'}) }}" title="Кожаный чехол со смарт-карт ридером">Кожаный чехол со смарт-карт ридером</a></b></p>
            <p>Кожаные чехлы эксклюзивного дизайна имеют специальный карман для смарт-карт ридера и позволяют комфортно пользоваться смарт-картой во время работы на устройствах Apple iOS.</p>
            <p><em>Рекомендуется руководителям для работы с защищённой почтой, электронным документооборотом, системами ДБО и другими сервисами из любого места и в любое время.</em></p>
        </td>
    </tr>
    </tbody>
</table>