
<p>При внедрении на Вашем предприятии Электронного удостоверения Вы одновременно получаете:</p>

<h2>Повышение уровня безопасности организации</h2>
<img src="{{ asset('images/catalog/jacarta_id/5.png') }}" style="float:left" alt="Повышение уровня безопасности организации" />
<div style="margin-left: 100px">
    <p><strong>Интеграция с системами управления физическим доступом</strong></p>
    <ul>
        <li>Возможность размещения до двух RFID-меток для создания единого пропуска сразу на два объекта организации (например, доступ в служебное помещение и на территорию)</li>
        <li>Мониторинг перемещений сотрудников по территории в организации при интеграции со СКУД</li>
    </ul>

    <p><strong>Повышение уровня безопасности внутренних ИТ-ресурсов</strong></p>
    <ul>
        <li>Двух- или трёхфакторная аутентификация при доступе к информационной системе</li>
        <li>Строгая аутентификация при доступе к ресурсам и Web-порталам с мобильных устройств</li>
    </ul>

    <p><strong>Дополнительная гарантия безопасности</strong></p>
    <ul>
        <li>Неотчуждаемость смарт-карты от владельца благодаря поддержке биометрической идентификации, в связи с чем смарт-карта не может быть использована другим лицом</li>
        <li>Использование технологии Match-on-Card, снижающей риск подмены или перехвата эталона отпечатка пальца практически до нуля</li>
        <li>Соответствие требованиям законодательства и регуляторов по защите информации</li>
    </ul>
</div>

<h2>Юридическая значимость электронного документооборота</h2>
<img src="{{ asset('images/catalog/jacarta_id/7.png') }}" style="float:left" alt="Юридическая значимость электронного документооборота" />
<div style="margin-left: 100px">
    <p><strong>Электронная подпись как собственноручная</strong></p>
    <ul>
        <li>Электронное удостоверение может выступать в роли персонального средства ЭП с неизвлекаемым ключом ЭП и сертифицированным программным интерфейсом для визуализации подписываемого документа</li>
        <li>Использование квалифицированной ЭП обеспечивает юридическую значимость подписываемых документов</li>
        <li>Полное соответствие всем требованиям 63-ФЗ и Приказа ФСБ России № 796 к средствам ЭП</li>
    </ul>

    <p><strong>Защищённое хранение ключа ЭП и ключевой информации</strong></p>
    <ul>
        <li>Невозможность перехвата ключа ЭП злоумышленниками благодаря тому, что ключ ЭП генерируется, хранится и используется исключительно внутри смарт-карты</li>
        <li>Cмарт-карта защищена от клонирования и других известных атак на смарт-карты (Secure by design)</li>
        <li>Надёжное защищённое хранилище для ключевых контейнеров программных СКЗИ (КриптоПро CSP, VipNet CSP), лицензий к ПО Secret Disk</li>
    </ul>
</div>

<h2>Удобство в использовании и управлении картами</h2>
<img src="{{ asset('images/catalog/jacarta_id/11.png') }}" style="float:left" alt="Удобство в использовании и управлении картами" />
<div style="margin-left: 100px">
    <p><strong>Электронная подпись с любых устройств</strong></p>
    <ul>
        <li>Работа с ЭП на любых устройствах: ПК, ноутбуке, планшете или смартфоне (на базе Apple iOS или Google Android)</li>
        <li>Использование квалифицированной ЭП на внутренних и внешних Web-порталах (например, на Портале гос. услуг (www.gosuslugi.ru), в системах ДБО, системах сдачи электронной отчётности, в "облачных" и других электронных сервисах, в том числе и мобильных)</li>
    </ul>

    <p><strong>Интеграция с платёжными сервисами</strong></p>
    <ul>
        <li>Возможность объединения электронного удостоверения с банковской пластиковой картой для перевода заработной платы и других денежных средств (например, льгот, поощрений или компенсаций расходов сотрудников)</li>
        <li>Смарт-карта JaCarta может эмитироваться банками и выдаваться, например, в рамках "зарплатных" проектов , в рамках проекта "Карта "Электронное правительство" и т.п.)</li>
        <li>Смарт-карта JaCarta прошла полное тестирование в ведущих мировых лабораториях и разрешена для использования в международных платёжных системах VISA и MasterCard, "Золотая Корона"</li>
    </ul>

    <p><strong>Единый центр управления картами</strong></p>
    <ul>
        <li>JaCarta Management System (JMS) - единственная система управления средствами аутентификации и ЭП на предприятии, полноценно поддерживающая смарт-карты JaCarta, в том числе и электронное удостоверение</li>
    </ul>
</div>

<h2>Снижение стоимости систем безопасности</h2>
<img src="{{ asset('images/catalog/jacarta_id/14.png') }}" style="float:left" alt="Снижение стоимости систем безопасности" />
<div style="margin-left: 100px">
    <p>Решение на основе "Электронного удостоверения" позволяет значительно сократить сроки и затраты на внедрение, эксплуатацию и поддержку систем безопасности за счёт того, что:</p>
    <ul>
        <li>используется единая система управления смарт-картами (такая, как JaCarta Management System);</li>
        <li>одна карта для доступа к информационным ресурсам и в помещения;</li>
        <li>одна карта для работы с любого устройства;</li>
        <li>имеется более 100 сертификатов совместимости с программными продуктами мировых и отечественных вендоров.</li>
    </ul>
</div>

<h2>Сертификаты безопасности</h2>
<img src="{{ asset('images/catalog/jacarta_id/1.png') }}" style="float:left" alt="Сертификаты безопасности" />
<div style="margin-left: 100px">
    <p><a href="{{ path('catalog:product', {'product': 'certified'}) }}">Список сертификатов JaCarta</a>.</p>
</div>