<h2 class="text-center mb-5 mt-0">
    Лучше один раз увидеть
</h2>
<div class="row text-center">
    <div class="col-sm-4">
        <img src="{{ asset('images/catalog/demo.svg') }}" width="150" height="150" class="mb-4" alt="Скачать демо-версию JaCarta Management System"><br />
        <a href="{{ path('company:contacts') }}" class="btn btn-outline-primary" target="_blank">Скачать демо-версию</a>
    </div>
    <div class="col-sm-4">
        <img src="{{ asset('images/catalog/presentation.svg') }}" width="150" height="150" class="mb-4" alt="Заказать живую презентацию JaCarta Management System"><br />
        <a href="{{ path('support:request', {'code': 'presentation', 'from': 'jms'}) }}" class="btn btn-outline-primary" target="_blank">Заказать живую презентацию</a>
    </div>
    <div class="col-sm-4">
        <img src="{{ asset('images/catalog/call.svg') }}" width="150" height="150" class="mb-4" alt="Заказать обратный звонок JaCarta Management System"><br />
        <a href="{{ path('support:request', {'code': 'callback', 'from': 'jms'}) }}" class="btn btn-outline-primary" target="_blank">Заказать обратный звонок</a>
    </div>
</div>