{
    "protection": {
        "image": "icons/JC-2-10.png",
        "title": "Защита от взлома и клонирования",
        "description": "<p><b>Secure By Design</b> — устройства {{ title }} сконструированы как безопасные и для целей обеспечения безопасности, выполнены на базе защищённых смарт-карточных чипов (<b>Secure Element</b>).</p><p>Закрытые ключи не хранятся в памяти устройства — взламывать его бесполезно.</p>",
        "view": "catalog/jacarta/_features/protection.html.twig"
    },
    "certified": {
        "image": "icons/JC-2-07.png",
        "title": "Сертифицировано ФСТЭК России",
        "description": "<p>Все устройства {{ title }} сертифицированы ФСТЭК России (сертификат № 3449). Это позволяет применять их в АС до класса защищённости 1Г, в ГИС до 1 класса защищённости и в ИСПДн до 1 уровня защищённости включительно.</p>",
        "view": "catalog/jacarta/_features/certified.html.twig"
    },
    "mobile": {
        "image": "icons/Mobile-Token.svg",
        "title": "Поддержка работы с мобильными устройствами",
        "description": "<p>Устройства {{ title }} можно использовать совместно со смартфонами и планшетами на базе операционных систем Google Android и Apple iOS. При этом мобильное приложение должно поддерживать работу с {{ title }} (для этого разработчикам предоставляется бесплатное решение JC-Mobile, которое легко и просто интегрировать в свою разработку).</p>",
        "view": "catalog/jacarta/_features/mobile.html.twig"
    },
    "quality": {
        "image": "icons/JC-2-28.png",
        "title": "Надёжность и качество",
        "description": "<p>Устройства {{ title }} рассчитаны на многолетнюю эксплуатацию: их корпус противостоит постоянным рабочим нагрузкам, устойчив к пыли и влаге.</p><p>Срок полезного использования USB-токенов и смарт-карт {{ title }} составляет <b>не менее 3-х лет</b> (не менее 10 000 часов общей наработки). Срок хранения данных в энергонезависимой памяти устройства — <b>не менее 10 лет</b>.</p>",
        "view": "catalog/jacarta/_features/quality.html.twig"
    },
    "pki": {
        "image": "icons/PKI-Infrastructure.svg",
        "title": "Переход на инфраструктуру открытых ключей",
        "description": "<p>Устройства {{ title }} могут использоваться совместно с решением JaCarta SecurLogon. Оно позволяет легко и быстро перейти от однофакторной аутентификации с помощью пары логин/пароль к усиленной двухфакторной аутентификации с применением устройств {{ title }} при входе в операционную систему Microsoft Windows или доступе к сетевым ресурсам без применения PKI или Active Directory.</p>",
        "view": "catalog/jacarta/_features/pki.html.twig"
    },
    "jms": {
        "image": "icons/JC-2-19.png",
        "title": "Поддержка популярных систем управления токенами",
        "description": "<p>{{ title }} — одни из самых распространённых устройств для двухфакторной аутентификации на российском рынке. Они поддерживаются всеми российскими системами управления жизненным циклом токенов, в том числе JaCarta Management System (JMS), разработанной компанией \"Аладдин Р.Д.\".</p>",
        "view": "catalog/jacarta/_features/jms.html.twig"
    },
    "use": {
        "image": "icons/JC-2-21.png",
        "title": "Удобство в использовании",
        "description": "<p>Мы делаем всё возможное чтобы использование устройств {{ title }} было максимально простым и удобным: для пользователей и администраторов доступен удобный графический интерфейс, поддерживаются все популярные операционные системы, для работы не требуется устанавливать какие-либо драйверы, доступна самостоятельная и удалённая разблокировка устройства и т.д.</p>",
        "view": "catalog/jacarta/_features/use.html.twig"
    }
}