{% extends 'main.html.twig' %}

{% block title %}Сертифицированные продукты{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-9">
            Применение сертифицированных продуктов и решений гарантирует высокий уровень защищённости
            информационных систем.
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set links = [
        path('download', {'uuid': 'ca2e6a34-b1fc-4d67-b5ed-ea384ffca263'}),
        path('download', {'uuid': 'aa71abfa-e060-46e2-9bb3-f1f2e9e7e2f0'}),
        path('download', {'uuid': '4fa2d516-359f-4bd0-8882-7b01776dacd3'}),
        path('download', {'uuid': '0b346314-b48d-42c5-985c-d742afcbe220'}),
        path('download', {'uuid': 'd090f297-e73f-46bb-89e0-186a1e3dde91'}),
        path('download', {'uuid': '5c52db02-d518-44bf-9018-7eddd0b71bd2'}),
        path('download', {'uuid': '3fc62e2e-d983-41b2-8852-c41c3f588448'}),
        path('download', {'uuid': 'fcdeddee-8173-479e-8a55-384061863d81'}),
        path('download', {'uuid': '5a9e0f7f-525e-4e8e-b431-204c38cca833'}),
        path('download', {'uuid': '169ea6a8-0a44-4942-bf22-af0805eb80aa'}),
        path('download', {'uuid': '75ecdee6-29bd-45c9-aa70-b451327782c2'}),
        path('download', {'uuid': '7d87194d-f668-4ded-a28c-3b0279ac6e4e'}),
        path('download', {'uuid': '722f4cc1-71db-4af0-b40c-40a82c5a370c'}),
        path('download', {'uuid': '8694e8c3-52b4-49ab-9a20-0afc5cbb4ca9'}),
        path('download', {'uuid': '9f9f61ce-04ca-44b4-870f-602c9e52bf4d'}),
        path('download', {'uuid': '465d4530-81a6-4f27-b0d4-b8a70f2afbf4'}),
        path('download', {'uuid': 'd5972784-6b81-479f-9ed7-496f7e7e3ce2'}),
        path('download', {'uuid': '29910720-38b3-4f55-8404-8a33642036f6'}),
    ] %}
    <p>Применение сертифицированных продуктов и решений гарантирует высокий уровень защищённости
        информационных систем. Для построения безопасных систем в соответствии с требованиями регуляторов используются
        следующие основные возможности средств защиты информации (СЗИ) компании
        "<span class="text-nowrap">Аладдин Р.Д.</span>":</p>
    <ul>
        <li>аутентификация пользователей в автоматизированных системах персональных данных (ИСПДн) и автоматизированных
            системах (АС), обрабатывающих конфиденциальную информацию;
        </li>
        <li>безопасное хранение ключевой информации средств криптографической защиты информации (СКЗИ);</li>
        <li>формирование и проверка усиленной квалифицированной электронной подписи (ЭП) с неизвлекаемым ключом;</li>
        <li>защита конфиденциальной информации и персональных данных от несанкционированного доступа;</li>
        <li>защита от несанкционированного доступа к компьютеру до загрузки операционной системы (модуль доверенной
            загрузки).
        </li>
    </ul>

    <h3 id="fstek">Соответствие требованиям ФСТЭК России</h3>

    <p>Продукты компании "<span class="text-nowrap">Аладдин Р.Д.</span>", прошедшие сертификацию по требованиям
        безопасности информации в ФСТЭК России, соответствуют установленным требованиям федерального законодательства
        к СЗИ и могут использоваться в государственных и коммерческих организациях для защиты АС и при
        создании ИСПДн. </p>
    <p>Перечисленные ниже СЗИ позволяют реализовывать технические меры по защите государственных информационных систем
        (ГИС) в соответствии с документом "Требования о защите информации, не составляющей государственную тайну,
        содержащейся в государственных информационных системах" (утверждён приказом
        <span class="text-nowrap">ФСТЭК России № 17</span> от 11.02.2013 г.) и в ИСПДн в соответствии с документом
        "Состав и содержание организационных и технических мер по обеспечению безопасности персональных данных
        при их обработке в информационных системах персональных данных" (утверждён приказом
        <span class="text-nowrap">ФСТЭК России № 21</span> от 18.02.2013 г.).</p>

    <table class="table">
        <thead>
        <tr>
            <th>Сертифицированный продукт</th>
            <th class="text-nowrap">Уровень доверия</th>
            <th class="text-nowrap">АС</th>
            <th>ИСПДн</th>
            <th>Сертификат</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jacarta-pki'}) }}">JaCarta PKI</a><br>USB-токены и смарт-карты для строгой
                аутентификации, поддерживающие работу с инфраструктурой открытых ключей (PKI) с использованием
                зарубежных крипографических алгоритмов
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[0] }}">№&nbsp;3449</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jacarta-pro'}) }}">JaCarta PRO</a><br>USB-токены и смарт-карты для строгой
                аутентификации, обладающие обратной совместимостью с ПО для устройств eToken PRO (Java)
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[0] }}">№&nbsp;3449</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jacarta-lt'}) }}">JaCarta LT</a><br>USB-токены и смарт-карты без встроенной
                криптографии, применяемые для хранения ключевых контейнеров программных СКЗИ, профилей и паролей
                пользователей, а также лицензионной информации независимых разработчиков ПО
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[0] }}">№&nbsp;3449</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a><br>USB-токены и смарт-карты для
                работы с ЭП, поддерживающие российские криптоалгоритмы ГОСТ Р 34.10-2012 и ГОСТ Р 34.11-2012
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[0] }}">№&nbsp;3449</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">JaCarta ГОСТ</a><br>USB-токены и смарт-карты для работы с
                ЭП, поддерживающие российские криптоалгоритмы ГОСТ Р 34.11-94 и ГОСТ Р 34.10-2001
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[0] }}">№&nbsp;3449</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jacarta_securlogon'}) }}">JaCarta SecurLogon</a><br>Решение для организации
                двухфакторной аутентификации без развёртывания PKI и настройки Active Directory
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[2] }}">№&nbsp;3575</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jms'}) }}">JaCarta Management System</a><br>Система управления жизненным
                циклом средств аутентификации и ЭП JaCarta, eToken и др.
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[3] }}">№&nbsp;3355</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product:page', {'product': 'secret_disk', 'page': 'sd5'}) }}">Secret Disk 5</a><br>Cистема защиты конфиденциальной
                информации и персональных данных, хранящихся и обрабатываемых на ПК или ноутбуке
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[4] }}">№&nbsp;3742</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product:page', {'product': 'secret_disk', 'page': 'server-certified'}) }}">Secret Disk Server NG</a><br> Комплекс
                защиты конфиденциальных данных на корпоративных серверах
            </td>
            <td class="text-center">ТУ, НДВ 4</td>
            <td class="text-center">1Г</td>
            <td class="text-center">УЗ1</td>
            <td class="text-center">
                <a href="{{ links[5] }}">№&nbsp;3358</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3 id="fsb">Соответствие требованиям ФСБ России</h3>

    <p>Продукты компании "<span class="text-nowrap">Аладдин Р.Д.</span>", прошедшие сертификацию в ФСБ России,
        соответствуют установленным требованиям федерального законодательства к средствам криптозащиты информации (СКЗИ)
        соответствующего класса защиты (KС1/КС2) и могут использоваться для криптозащиты информации, не содержащей
        сведений, составляющих государственную тайну. Кроме этого, они могут применяться в качестве средства
        формирования и проверки квалифицированной ЭП в соответствии с требованиями, установленными федеральным
        законом №&nbsp;63-ФЗ "Об электронной подписи" от 06.04.2011 года и Приказом ФСБ России №&nbsp;796 от
        27.12.2012 года.</p>

    <table class="table">
        <thead>
        <tr>
            <th>Сертифицированный продукт</th>
            <th>СКЗИ</th>
            <th class="text-nowrap">Средство ЭП</th>
            <th>Сертификат</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p><a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a><br>Средства ЭП нового поколения и
                    полноценные СКЗИ с аппаратной поддержкой новых российских криптографических алгоритмов ГОСТ Р
                    34.10-2012 и ГОСТ Р 34.11-2012, выполненные в форм-факторах USB-токен, смарт-карта или модуль
                    безопасности (SIM, микросхемы для монтажа на печатную плату)</p>
                <p class="small">
                    <sup>*</sup> <em class="text_small">выдан в качестве продления для сертификата СФ/124-3112</em>
                </p>
            </td>
            <td class="text-center text-nowrap">КС1/КС2</td>
            <td class="text-center">Да</td>
            <td class="text-center">
                <a href="{{ links[6] }}" class="text-nowrap">№&nbsp;СФ/124-3502</a><br>
                <a href="{{ links[7] }}" class="text-nowrap">№&nbsp;СФ/124-3473</a><sup>*</sup><br>
                <a href="{{ links[8] }}" class="text-nowrap">№&nbsp;СФ/124-3112</a><br>
                <a href="{{ links[9] }}" class="text-nowrap">№&nbsp;СФ/124-2963</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>JaCarta SF/ГОСТ<br>Защищённый служебный флеш-накопитель и персональное средство ЭП с аппаратно
                    защищённой флеш-памятью</p>
                <p class="small">
                    <sup>*</sup> <em class="text_small">выдан в качестве продления для сертификата СФ/124-3112</em></p>
            </td>
            <td class="text-center text-nowrap">КС1/КС2</td>
            <td class="text-center">Да</td>
            <td class="text-center">
                <a href="{{ links[6] }}" class="text-nowrap">№&nbsp;СФ/124-3502</a><br>
                <a href="{{ links[7] }}" class="text-nowrap">№&nbsp;СФ/124-3473</a><sup>*</sup><br>
                <a href="{{ links[8] }}" class="text-nowrap">№&nbsp;СФ/124-3112</a><br>
                <a href="{{ links[9] }}" class="text-nowrap">№&nbsp;СФ/124-2963</a>
            </td>
        </tr>
        <tr>
            <td>
                АРМ администратора безопасности<br>Используется на ПК для инициализации, загрузки ключевой информации и
                администрирования устройств JaCarta-2 ГОСТ и JaCarta-2 SF/ГОСТ
            </td>
            <td class="text-center">КС2</td>
            <td class="text-center">Нет</td>
            <td class="text-center">
                <a href="{{ links[10] }}" class="text-nowrap">№&nbsp;СФ/124-3504</a><br>
                <a href="{{ links[11] }}" class="text-nowrap">№&nbsp;СФ/124-2964</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">JaCarta ГОСТ</a><br>
                    Персональное средство для формирования и работы с усиленной квалифицированной ЭП, полностью
                    соответствующее требованиям к средствам ЭП
            </td>
            <td class="text-center text-nowrap">КС1/КС2</td>
            <td class="text-center">Да</td>
            <td class="text-center">
                <a href="{{ links[12] }}" class="text-nowrap">№ СФ/111-2750</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('catalog:product', {'product': 'cryptobd'}) }}">"Крипто БД"</a><br> Система предотвращения утечек информации
                из популярных высокопроизводительных систем управления базами данных Oracle, Microsoft SQL Server,
                Tibero и PostgreSQL
            </td>
            <td class="text-center text-nowrap">KС1/КС2<br/>КС3</td>
            <td class="text-center">Нет</td>
            <td class="text-center">
                <a href="{{ links[13] }}" class="text-nowrap">№ СФ/124-3249</a>
                <a href="{{ links[14] }}" class="text-nowrap">№ СФ/124-3472</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3 id="international">Соответствие международным требованиям</h3>

    <p>Продукты компании "<span class="text-nowrap">Аладдин Р.Д.</span>" соответствуют международным требованиям по
        качеству и безопасности продукции и имеют
        соответствующий сертификат:</p>
    <ul>
        <li><b>Common Criteria EAL 5+</b> — международный сертификат на используемые в устройствах JaCarta
            микроконтроллер (чип) и операционную систему на соответствие профилю защиты Security IC Platform Protection
            Profile, версия 1.0, и Java Card™ System Protection Profile. Оценка соответствия выполнена по методике
            Common Criteria (версия 3.1, ревизия 3). Достигнутый уровень доверия — EAL 5+ (усиленный).
        </li>
        <li><b>Сертификат RoHS</b> — подтверждает, что устройства JaCarta соответствуют директиве RoHS (Restriction of
            Hazardous Substances) Европейского Союза, ограничивающей использование шести опасных для здоровья и
            окружающей среды веществ в электрическом и электронном оборудовании: свинца, кадмия, ртути, шестивалентного
            хрома и бромидных соединений.
        </li>
        <li><b>Сертификат CE</b> — подтверждает, что устройства JaCarta соответствуют требованиям стран ЕС и разрешены
            для ввоза и применения на их территории.
        </li>
        <li><b>Сертификат FCC</b> — подтверждает, что устройства JaCarta соответствуют международным требованиям в части
            уровня электромагнитных помех радиоустройствам.
        </li>
    </ul>

    <h3 id="corporate">Отраслевые и корпоративные стандарты</h3>

    <p>Продукты компании "<span class="text-nowrap">Аладдин Р.Д.</span>" могут применяться для создания и защиты
        информационных систем в соответствии с требованиями <b>PCI DSS</b> и <b>СТО БР</b>.</p>
    <p>Система менеджмента качества продукции в компании соответствует стандарту ГОСТ ISO 9001-2011 и имеет
        соответствующие сертификаты (с 2012 г.).</p>
    <p>Система проектирования, разработки, производства и поддержки продукции соответствует требованиям российского
        военного стандарта ГОСТ РВ 15.002-2012, необходимого для участия в реализации гособоронзаказа.</p>

    <ul>
        <li><a href="{{ links[15] }}">Декларация о соответствии ЕАС № RU Д-RU.МЛ04.В.01072</a>.
            Аппаратная платформа JaCarta-2 соответствует требованиям Технического регламента Таможенного союза ТР ТС
            020/2011 "Электромагнитная совместимость технических средств".
        </li>
        <li><a href="{{ links[16] }}">Сертификат соответствия №&nbsp;0100951</a>.
            Аппаратная платформа JaCarta-2 соответствует требованиям нормативных документов ТУ АЛДЕ.26.20.30.000.002ТУ1
            (п.п. 2.5.1, 2.5.2, 2.5.6, 7.1), ГОСТ 14254-2015 (IP57), ГОСТ CISPR 24-2013, ГОСТ 30805.22-2013, ГОСТ IEC
            60950-1-2014 (п.п. 4.2.6, 4.7).
        </li>
        <li><a href="{{ links[17] }}">Экспертное заключение №&nbsp;926</a>,
            выданное ФБУЗ Центр гигиены и эпидемиологии Владимирской области, удостоверяет, что аппаратная платформа
            устройств JaCarta-2 соответствует требованиям и нормам раздела 7 "Требования к продукции машиностроения,
            приборостроения и электротехники" главы II Единых санитарно-эпидемиологических и гигиенических требований
            к товарам, подлежащим санитарно-эпидемиологическому надзору (контролю), утверждённых решением Комиссии
            Таможенного союза от 28.05.2010 г. №&nbsp;299.
        </li>
        <li><b>Сертификат Федерального агентства по техническому регулированию и метрологии</b> РОСС RU МЛ04.Н01164
            (стойкость ко внешним воздействиям) подтверждает, что аппаратная платформа устройств JaCarta-2 ГОСТ:
            <ul>
                <li>защищена от проникновения в неё влаги при длительном погружении в воду и от пыли (степень защиты
                    IP57 по ГОСТ 14254).
                </li>
                <li>сохраняет работоспособность в условиях воздействия температуры окружающей среды от –40 до +85 °C
                    согласно ГОСТ 30630.2.1-2013.
                </li>
                <li>защищена от воздействия широкополосной случайной вибрации (степень жёсткости — 4с по ГОСТ 30631-99),
                    а её конструкция и механическая прочность не создают опасностей для человека даже при возможном
                    неосторожном обращении.
                </li>
            </ul>
        </li>
        <li><b>Сертификат Роспотребнадзора</b> — подтверждает, что аппаратная платформа устройств JaCarta-2 ГОСТ
            соответствует требованиям и нормам раздела 7 "Требования к продукции машиностроения, приборостроения и
            электротехники" главы II Единых санитарно-эпидемиологических и гигиенических требований к товарам,
            подлежащим санитарно-эпидемиологическому надзору (контролю), утверждённых решением Комиссии Таможенного
            союза от 28.05.2010 г. № 299, и является безопасной для здоровья человека.
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    {{ include('catalog/_sidebar.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/catalog-certified-index.css') }}" />
{% endblock %}