<div class="partner d-flex justify-content-between align-items-center py-3 border-white" style="flex:0 0 50%">
    <div class="partner__card">
        <div class="partner__title font-weight-bold">
            <a href="{{ path("partners:view", {"type": "technical", "code": partner.code}) }}">{{ partner.title | upper }}</a>
        </div>
        <div class="partner__statuses">
            {{ partner.values.STATUSES | join(', ') }}
        </div>
        <div class="partner__address">
            {{ partner.values.CITY }},
            {{ partner.values.REGION ? partner.values.REGION ~ ', ' : '' }}
            {{ partner.values.STREET }}
        </div>
        <div class="partner__phone">{{ partner.values.PHONE }}</div>
    </div>
</div>