<div class="row">
    <div class="col-6">
        <h2>Назначение</h2>
        <p>JaCarta-2 SE — USB-ключ (ключевой носитель), позволяющий работать в Единой государственной
            автоматизированной информационной системе учёта объёма производства и оборота этилового спирта, алкогольной
            и спиртсодержащей продукции (ЕГАИС). Использование JaCarta-2 SE для ЕГАИС позволяет:</p>
        <ul class="list-condensed">
            <li>входить в личный кабинет организации на сайте <a href="https://egais.ru" rel="nofollow" target="_blank">ЕГАИС</a>,</li>
            <li>отправлять товарно-транспортные накладные, акты и чеки,</li>
            <li>формировать журнал учёта розничных продаж и т.д.</li>
        </ul>
    </div>
    <div class="col-6">
        <h2>Применение</h2>
        <p>USB-ключ JaCarta-2 SE позволяет хранить и использовать два сертификата, которые необходимы для работы ЕГАИС:</p>
        <ul>
            <li>RSA-сертификат, который позволяет идентифицировать организацию-владельца носителя в системе ЕГАИС;</li>
            <li>Квалифицированный сертификат электронной подписи, который используется Транспортным модулем для подписания xml-файлов, передаваемых в рамках ЕГАИС.</li>
        </ul>
        <p>Для работы JaCarta-2 SE не требуется покупать и устанавливать дополнительный криптопровайдер, так как всё необходимое уже есть внутри устройства.</p>
    </div>
    <div class="col-6">
        <div class="alert alert-warning">
            <b>ВАЖНО!</b> JaCarta-2 SE полностью соответствует техническим требованиям к внешнему криптографическому USB-устройству
            (аппаратному криптоключу), используемому в рамках функционирования ЕГАИС.
        </div>
    </div>
    <div class="col-6">
        <div class="alert alert-warning">
            <b>ВНИМАНИЕ!</b> Не отключайте USB-ключ JaCarta-2 SE во время выполнения операций (в это время мигает светодиод на корпусе устройства)! Прерывание незаконченных операций может привести к его поломке!
        </div>
    </div>
</div>

<br />

<h2>Сертификаты соответствия</h2>

<div class="row">
    <div class="col-6">
        <p>Устройства JaCarta-2 SE сертифицированы ФСБ России и соответствуют требованиям к СКЗИ класса КС1 и КС2 и
            требованиям к средствам ЭП, утверждённым Приказом ФСБ России № 796, для классов КС1 и КС2, и могут
            использоваться для реализации функций ЭП в соответствии с 63-ФЗ "Об электронной подписи" (сертификат
            <a href="{{ path('download', {'uuid': '3fc62e2e-d983-41b2-8852-c41c3f588448'}) }}" class="text-nowrap">№ СФ/124-3502</a>).</p>
        <p>Они также сертифицированы ФСТЭК России и могут применяться в информационных системах персональных
            данных до уровня защищённости УЗ1 включительно, в государственных информационных системах до 1 класса
            защищённости включительно, а также при создании автоматизированных систем до класса защищённости 1Г включительно
            (сертификат <a href="{{ path('download', {'uuid': 'ca2e6a34-b1fc-4d67-b5ed-ea384ffca263'}) }}" class="text-nowrap">№ 3449</a>).</p>

        <p>
            <a href="{{ path('catalog:product:page', {'product': 'jacarta-2_se', 'page': 'certificates'}) }}" data-toggle="tab" data-target="#certificates" data-remote="true" class="btn btn-outline-primary scrollable">Просмотреть все сертификаты</a>
        </p>
    </div>
    <div class="col-6 text-center">
        <img src="{{ asset('images/catalog/jacarta-2_se/certificates.png') }}" class="img-fluid" alt="USB-ключи JaCarta-2 SE сертифицированы ФСБ России и ФСТЭК России" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-6">
        <h2>Варианты исполнения</h2>
        <p>Устройства JaCarta-2 SE выпускаются только в одном форм-факторе &mdash; USB-токен в корпусе XL.</p>
        <div class="text-center">
            <img src="{{ asset('images/catalog/jacarta-2_se/JaCarta-2_SE-PKI-GOST.png') }}" class="img-fluid" style="max-width: 200px;" alt="JaCarta-2 SE для ЕГАИС" />
        </div>
    </div>
    <div class="col-6">
        <h2>Надёжность и долговечность</h2>
        <p>По результатам квалификационных испытаний образцы <span class="text-nowrap">JaCarta-2 SE</span> отработали более 10 млн. операций, что на
            практике эквивалентно более трём годам эксплуатации в круглосуточном режиме с максимально возможной
            нагрузкой.</p>
    </div>
</div>
